version: '3'
services:
  app:
    image: badconfig/droux
    container_name: rocket-server
    tty: true
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL: "postgres://docker:docker@postgres1:5432/diesel_db"
      - RETAIL_CRM_API_KEY: "qZPXO3WaF2LLQI3YEZHdpJLoYZxhHdzH"
      - SBERBANK_USERNAME: "T773007004660-api"
      - SBERBANK_PASSWORD: "T773007004660"
      - SITE_URL: "droux.ru"
    volumes:
          - ./Rocket.toml:/droux/Rocket.toml
          - ./static/:/droux/static/
          - ./templates/:/droux/templates/
          - ./.env:/droux/.env
          - ./migrations:/droux/migrations/
    networks:
      - app-network
  nginx:
    image: nginx:1.15-alpine
    container_name: nginx
    restart: unless-stopped
    volumes:
      - ./data/nginx:/etc/nginx/conf.d
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    ports:
      - "80:80"
      - "443:443"
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
    networks:
      - app-network
  certbot:
    image: certbot/certbot
    restart: unless-stopped
    container_name: cert-bot
    volumes:
      - ./data/certbot/conf:/etc/letsencrypt
      - ./data/certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
    networks:
      - app-network
    command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
  postgres:
    image: "postgres:9.6"
    container_name: postgres1
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: diesel_db
      POSTGRES_PASSWORD: docker
      POSTGRES_USER: docker
    networks:
      - app-network
networks:
  app-network:
    driver: bridge

