version: '3'
services:
  #rocket.rs app
  app:
    #build:
    #  context: .
    #  dockerfile: Dockerfile
    image: badconfig/droux
    container_name: rocket-server
    tty: true
   # working_dir: /droux
    ports:
      - "8000:8000"
   # volumes:
   #   - ./:/app
    environment:
      DATABASE_URL: postgres://docker:docker@postgres1:5432/diesel_db
    volumes:
        #  - ./:/app
          - ./Rocket.toml:/droux/Rocket.toml
          - ./static/:/droux/static/
          - ./templates/:/droux/templates/
          - ./.env:/droux/.env
          - ./migrations:/droux/migrations/
    networks:
      - app-network
  #Nginx
  webserver:
    image: nginx:alpine
    container_name: webserver1
    restart: unless-stopped
    tty: true
    ports:
      - "443:8080"
    volumes:
    #  - ./:/app
      - ./nginx/:/etc/nginx/
      - ./nginx/:/etc/nginx/ssl/
    networks:
      - app-network
  postgres:
    image: "postgres:9.6"
    container_name: postgres1
    restart: unless-stopped
    ports:
      - "5432:5432"
   # volumes:
     # - ./postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: diesel_db
      POSTGRES_PASSWORD: docker
      POSTGRES_USER: docker
    networks:
      - app-network

      
#network
networks:
  app-network:
    driver: bridge
#volumes:
 # postgres_data: {}

