<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/ad.css">
    <link rel="stylesheet" href="../../static/css/main-page.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header class="header">
        <div class="services">
            <div class="container services__container">
                <div class="services__item">
                    <img src="../../static/assets/safety.svg" alt="Иконка безопасной сделки" class="services__icon">
                    <div>Безопасная сделка</div>
                </div>
                <div class="services__item">
                    <img src="../../static/assets/delivery.svg" alt="Иконка доставки" class="services__icon">
                    <div>Бесплатная доставка</div>
                </div>
                <div class="services__item">
                    <img src="../../static/assets/scan.svg" alt="Иконка экспертизы" class="services__icon">
                    <div>Экспертиза на подлинность</div>
                </div>
            </div>
        </div>
        <div class="header-base__line">
            <div class="container header__base">
                <form class="header__search">
                    <div class="search__field">
                        <label for="header-search">
                            <img src="../../static/assets/search.svg" alt="Иконка поиска" class="search__icon">
                        </label>
                        <input class="search__input" type="search" id="header-search" placeholder="Поиск по товарам">
                    </div>
                    <input class="search__button button" type="submit" value="Найти">
                </form>
                <div class="header__logo">
                    <img src="../../static/assets/droux-logo.svg" alt="Логотип Droux">
                </div>
                <div class="header__buttons">
                    <a href="" class="button sell__button">Продать</a>
                    <img src="../../static/assets/chat.svg" alt="Иконка чата" class="buttons__icon">
                    <img src="../../static/assets/favourite.svg" alt="Иконка избранного" class="buttons__icon">
                    <span id="auth-button">Войти</span>
                </div>
            </div>
        </div>
        <div class="header-nav__line">
            <nav class="header__nav">
                <a href="">ВЫБОР DROUX</a>
                <a href="">НОВИНКИ</a>
                <a href="">БРЕНДЫ</a>
                <a href="">ОДЕЖДА</a>
                <a href="">ОБУВЬ</a>
                <a href="">СУМКИ</a>
                <a href="">АКСЕССУАРЫ</a>
            </nav>
        </div>
        <div class="authorizer authorizer__background">
            <div class="authorizer__window">
                <div class="authorizer__choice">
                    <input type="radio" name="auth" id="sign-in" checked>
                    <label for="sign-in">Войти</label>
                    <input type="radio" name="auth" id="sign-up">
                    <label for="sign-up">Создать аккаунт</label>
                </div>
                <form class="authorizer__form_sign-in authorizer__form authorizer__form_visible">
                    <label for="sign-in__login">Логин</label>
                    <input type="text" id="sign-in__login">
                    <label for="sign-in__password">Пароль</label>
                    <input type="password" id="sign-in__password">
                    <div class="sign-in__remember-and-forget">
                        <input type="checkbox" id="remember-me">
                        <label for="remember-me" class="authorizer__checkbox-label">Запомнить меня</label>
                        <a href="">Забыли пароль?</a>
                    </div>
                    <input type="submit" class="button sign-in__button" value="Войти">
                    <label for="sign-up" class="sign-in__not-a-label">Не зарегистрированы на Droux? Создайте аккаунт</label>
                </form>
                <form class="authorizer__form_sign-up authorizer__form">
                    <label for="sign-up__login">Логин</label>
                    <input type="text" id="sign-up__login">
                    <span class="sign-up__bottom-text">*Необходимо ввести логин на английском языке и только прописными буквами</span>
                    <label for="sign-up__email">Адрес электронной почты</label>
                    <input type="text" id="sign-up__email">
                    <label for="sign-up__password">Пароль</label>
                    <input type="password" id="sign-up__password">
                    <span class="sign-up__bottom-text">*Не менее 8 символов (латиница и цифры)</span>
                    <label for="sign-up__repeat-password">Повторите пароль</label>
                    <input type="password" id="sign-up__repeat-password">
                    <input type="checkbox" id="accept-rules">
                    <label for="accept-rules" class="authorizer__checkbox-label" id="sign-up__checkbox"><span>Я принимаю условия <a href="">Пользовательского соглашения</a></span></label>
                    <input type="submit" class="button sign-up__button" value="Зарегистрироваться" disabled>
                </form>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="photos container">
            <div class="photos__male">
                <img src="../../static/assets/male.jpg" alt="Мужчина с поясной сумкой Gucci">
                <span>ДЛЯ МУЖЧИН</span>
            </div>
            <div class="photos__female">
                <img src="../../static/assets/female.jpg" alt="Две девушки с аксессуарами Louis Vuitton">
                <span>ДЛЯ ЖЕНЩИН</span>
            </div>
            <div class="photos__buttons">
                <h1>Первый сервис для покупки<br>и перепродажи брендовых вещей в России</h1>
                <a href="" class="button photos-buttons__button photos-buttons__button_seller">Для покупателей</a>
                <a href="" class="button photos-buttons__button photos-buttons__button_buyer">Для продавцов</a>
            </div>
        </div>

        <div class="show-all container show-all_new-ads">
            <h2 class="show-all__header">Новые объявления</h2>
            <a href=""><div class="show-all__button">
                <span class="show-all__text">Показать все</span>
                <img src="../../static/assets/show-all.svg" alt="Иконка стрелки показать все" class="show-all__arrow">
            </div></a>
        </div>

        <div class="part new-ads">
            <div class="part__arrow part__arrow_left">
                <img src="../../static/assets/arrow-left.svg" alt="Стрелка пролистывания влево">
            </div>
            <div class="container part__border"> <!--видимые объявления-->
                <div class="part__ads"> <!--все объявления-->
                    <div class="part__ad ad"> <!--Объявление целиком-->
                        <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                            <div class="ad__arrow ad__arrow_left">
                                <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                            </div>
                            <div class="ad__all-images"> <!--Все фото в линию-->
                                <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                            </div>
                            <div class="ad__arrow ad__arrow_right">
                                <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                            </div>
                            <div class="ad__favourite-icon">
                                <img src="../../static/assets/favourite.svg" alt="Иконка избранного">
                            </div>
                        </div>
                        <div class="ad__name-and-size">
                            <h3 class="ad__name">Мужчина</h3>
                            <span class="ad__size">49.5 EUR</span>
                        </div>
                        <div class="ad__category">Человеки</div>
                        <div class="ad__price">69 000 руб.</div>
                    </div>

                    <div class="part__ad ad"> <!--Объявление целиком-->
                        <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                            <div class="ad__arrow ad__arrow_left">
                                <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                            </div>
                            <div class="ad__all-images"> <!--Все фото в линию-->
                                <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                            </div>
                            <div class="ad__arrow ad__arrow_right">
                                <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                            </div>
                            <div class="ad__favourite-icon">
                                <img src="../../static/assets/favourite.svg" alt="Иконка избранного">
                            </div>
                        </div>
                        <div class="ad__name-and-size">
                            <h3 class="ad__name">Мужчина</h3>
                            <span class="ad__size">49.5 EUR</span>
                        </div>
                        <div class="ad__category">Человеки</div>
                        <div class="ad__price">69 000 руб.</div>
                    </div>

                    <div class="part__ad ad"> <!--Объявление целиком-->
                        <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                            <div class="ad__arrow ad__arrow_left">
                                <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                            </div>
                            <div class="ad__all-images"> <!--Все фото в линию-->
                                <img src="../../static/assets/female.jpg" alt="" class="ad__img">
                            </div>
                            <div class="ad__arrow ad__arrow_right">
                                <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                            </div>
                            <div class="ad__favourite-icon">
                                <img src="../../static/assets/favourite.svg" alt="Иконка избранного">
                            </div>
                        </div>
                        <div class="ad__name-and-size">
                            <h3 class="ad__name">Женщина</h3>
                            <span class="ad__size">49.5 EUR</span>
                        </div>
                        <div class="ad__category">Людыны</div>
                        <div class="ad__price">69 000 руб.</div>
                    </div>

                    <div class="part__ad ad"> <!--Объявление целиком-->
                        <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                            <div class="ad__arrow ad__arrow_left">
                                <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                            </div>
                            <div class="ad__all-images"> <!--Все фото в линию-->
                                <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                                <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                                <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                                <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                                <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                            </div>
                            <div class="ad__arrow ad__arrow_right">
                                <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                            </div>
                            <div class="ad__favourite-icon">
                                <img src="../../static/assets/favourite.svg" alt="Иконка избранного">
                            </div>
                        </div>
                        <div class="ad__name-and-size">
                            <h3 class="ad__name">Мужчина</h3>
                            <span class="ad__size">49.5 EUR</span>
                        </div>
                        <div class="ad__category">Человеки</div>
                        <div class="ad__price">69 000 руб.</div>
                    </div>

                    <div class="part__ad ad"> <!--Объявление целиком-->
                        <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                            <div class="ad__arrow ad__arrow_left">
                                <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                            </div>
                            <div class="ad__all-images"> <!--Все фото в линию-->
                                <img src="../../static/assets/female.jpg" alt="" class="ad__img">
                            </div>
                            <div class="ad__arrow ad__arrow_right">
                                <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                            </div>
                            <div class="ad__favourite-icon">
                                <img src="../../static/assets/favourite.svg" alt="Иконка избранного">
                            </div>
                        </div>
                        <div class="ad__name-and-size">
                            <h3 class="ad__name">Женщина</h3>
                            <span class="ad__size">49.5 EUR</span>
                        </div>
                        <div class="ad__category">Людыны</div>
                        <div class="ad__price">69 000 руб.</div>
                    </div>
                </div>
            </div>
            <div class="part__arrow part__arrow_right">
                <img src="../../static/assets/arrow-right.svg" alt="Стрелка пролистывания вправо">
            </div>
        </div>

        <div class="show-all container show-all_most-viewed">
            <h2 class="show-all__header">Самые просматриваемые объявления</h2>
            <a href=""><div class="show-all__button">
                <span class="show-all__text">Показать все</span>
                <img src="../../static/assets/show-all.svg" alt="Иконка стрелки показать все" class="show-all__arrow">
            </div></a>
        </div>

        <div class="part most-viewed">
            <div class="part__arrow part__arrow_left">
                <img src="../../static/assets/arrow-left.svg" alt="Стрелка пролистывания влево">
            </div>
            <div class="container part__border"> <!--видимые объявления-->
                <div class="part__ads"> <!--все объявления-->
                    <div class="part__ad ad"> <!--Объявление целиком-->
                        <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                            <div class="ad__arrow ad__arrow_left">
                                <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                            </div>
                            <div class="ad__all-images"> <!--Все фото в линию-->
                                <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                            </div>
                            <div class="ad__arrow ad__arrow_right">
                                <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                            </div>
                            <div class="ad__favourite-icon">
                                <img src="../../static/assets/favourite.svg" alt="Иконка избранного">
                            </div>
                        </div>
                        <div class="ad__name-and-size">
                            <h3 class="ad__name">Мужчина</h3>
                            <span class="ad__size">49.5 EUR</span>
                        </div>
                        <div class="ad__category">Человеки</div>
                        <div class="ad__price">69 000 руб.</div>
                    </div>

                    <div class="part__ad ad"> <!--Объявление целиком-->
                        <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                            <div class="ad__arrow ad__arrow_left">
                                <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                            </div>
                            <div class="ad__all-images"> <!--Все фото в линию-->
                                <img src="../../static/assets/female.jpg" alt="" class="ad__img">
                            </div>
                            <div class="ad__arrow ad__arrow_right">
                                <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                            </div>
                            <div class="ad__favourite-icon">
                                <img src="../../static/assets/favourite.svg" alt="Иконка избранного">
                            </div>
                        </div>
                        <div class="ad__name-and-size">
                            <h3 class="ad__name">Женщина</h3>
                            <span class="ad__size">49.5 EUR</span>
                        </div>
                        <div class="ad__category">Людыны</div>
                        <div class="ad__price">69 000 руб.</div>
                    </div>

                    <div class="part__ad ad"> <!--Объявление целиком-->
                        <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                            <div class="ad__arrow ad__arrow_left">
                                <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                            </div>
                            <div class="ad__all-images"> <!--Все фото в линию-->
                                <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                            </div>
                            <div class="ad__arrow ad__arrow_right">
                                <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                            </div>
                            <div class="ad__favourite-icon">
                                <img src="../../static/assets/favourite.svg" alt="Иконка избранного">
                            </div>
                        </div>
                        <div class="ad__name-and-size">
                            <h3 class="ad__name">Мужчина</h3>
                            <span class="ad__size">49.5 EUR</span>
                        </div>
                        <div class="ad__category">Человеки</div>
                        <div class="ad__price">69 000 руб.</div>
                    </div>

                    <div class="part__ad ad"> <!--Объявление целиком-->
                        <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                            <div class="ad__arrow ad__arrow_left">
                                <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                            </div>
                            <div class="ad__all-images"> <!--Все фото в линию-->
                                <img src="../../static/assets/female.jpg" alt="" class="ad__img">
                            </div>
                            <div class="ad__arrow ad__arrow_right">
                                <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                            </div>
                            <div class="ad__favourite-icon">
                                <img src="../../static/assets/favourite.svg" alt="Иконка избранного">
                            </div>
                        </div>
                        <div class="ad__name-and-size">
                            <h3 class="ad__name">Женщина</h3>
                            <span class="ad__size">49.5 EUR</span>
                        </div>
                        <div class="ad__category">Людыны</div>
                        <div class="ad__price">69 000 руб.</div>
                    </div>
                </div>
            </div>
            <div class="part__arrow part__arrow_right">
                <img src="../../static/assets/arrow-right.svg" alt="Стрелка пролистывания вправо">
            </div>
        </div>

        <div class="show-all container show-all_popular-today">
            <h2 class="show-all__header">Самые популярные объявления за сегодня</h2>
            <a href=""><div class="show-all__button">
                <span class="show-all__text">Показать все</span>
                <img src="../../static/assets/show-all.svg" alt="Иконка стрелки показать все" class="show-all__arrow">
            </div></a>
        </div>

        <div class="part popular-today">
            <div class="part__arrow part__arrow_left part__arrow_popular-today">
                <img src="../../static/assets/arrow-left.svg" alt="Стрелка пролистывания влево">
            </div>
            <div class="container part__border"> <!--видимые объявления-->
                <div class="part__ads"> <!--все объявления-->
                    <div class="part__ad ad"> <!--Объявление целиком-->

                        <div class="ad__author">
                            <div class="ad__author-photo">
                                <img src="../../static/assets/scan.svg" alt="">
                            </div>
                            <div class="ad__author-info">
                                <span class="ad__author-name">Михал Палыч</span>
                                <div class="ad__author-rating">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-empty.svg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                            <div class="ad__arrow ad__arrow_left">
                                <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                            </div>
                            <div class="ad__all-images"> <!--Все фото в линию-->
                                <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                                <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                                <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                                <img src="../../static/assets/male.jpg" alt="" class="ad__img">

                            </div>
                            <div class="ad__arrow ad__arrow_right">
                                <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                            </div>
                            <div class="ad__favourite-icon">
                                <img src="../../static/assets/favourite.svg" alt="Иконка избранного">
                            </div>
                        </div>
                        <div class="ad__name-and-size">
                            <h3 class="ad__name">Мужчина</h3>
                            <span class="ad__size">49.5 EUR</span>
                        </div>
                        <div class="ad__category">Человеки</div>
                        <div class="ad__price">69 000 руб.</div>
                    </div>

                    <div class="part__ad ad"> <!--Объявление целиком-->

                        <div class="ad__author">
                            <div class="ad__author-photo">
                                <img src="../../static/assets/scan.svg" alt="">
                            </div>
                            <div class="ad__author-info">
                                <span class="ad__author-name">Михал Палыч</span>
                                <div class="ad__author-rating">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-empty.svg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                            <div class="ad__arrow ad__arrow_left">
                                <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                            </div>
                            <div class="ad__all-images"> <!--Все фото в линию-->
                                <img src="../../static/assets/female.jpg" alt="" class="ad__img">
                            </div>
                            <div class="ad__arrow ad__arrow_right">
                                <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                            </div>
                            <div class="ad__favourite-icon">
                                <img src="../../static/assets/favourite.svg" alt="Иконка избранного">
                            </div>
                        </div>
                        <div class="ad__name-and-size">
                            <h3 class="ad__name">Женщина</h3>
                            <span class="ad__size">49.5 EUR</span>
                        </div>
                        <div class="ad__category">Людыны</div>
                        <div class="ad__price">69 000 руб.</div>
                    </div>

                    <div class="part__ad ad"> <!--Объявление целиком-->

                        <div class="ad__author">
                            <div class="ad__author-photo">
                                <img src="../../static/assets/scan.svg" alt="">
                            </div>
                            <div class="ad__author-info">
                                <span class="ad__author-name">Михал Палыч</span>
                                <div class="ad__author-rating">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-empty.svg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                            <div class="ad__arrow ad__arrow_left">
                                <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                            </div>
                            <div class="ad__all-images"> <!--Все фото в линию-->
                                <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                            </div>
                            <div class="ad__arrow ad__arrow_right">
                                <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                            </div>
                            <div class="ad__favourite-icon">
                                <img src="../../static/assets/favourite.svg" alt="Иконка избранного">
                            </div>
                        </div>
                        <div class="ad__name-and-size">
                            <h3 class="ad__name">Мужчина</h3>
                            <span class="ad__size">49.5 EUR</span>
                        </div>
                        <div class="ad__category">Человеки</div>
                        <div class="ad__price">69 000 руб.</div>
                    </div>

                    <div class="part__ad ad"> <!--Объявление целиком-->

                        <div class="ad__author">
                            <div class="ad__author-photo">
                                <img src="../../static/assets/scan.svg" alt="">
                            </div>
                            <div class="ad__author-info">
                                <span class="ad__author-name">Михал Палыч</span>
                                <div class="ad__author-rating">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-empty.svg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                            <div class="ad__arrow ad__arrow_left">
                                <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                            </div>
                            <div class="ad__all-images"> <!--Все фото в линию-->
                                <img src="../../static/assets/female.jpg" alt="" class="ad__img">
                            </div>
                            <div class="ad__arrow ad__arrow_right">
                                <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                            </div>
                            <div class="ad__favourite-icon">
                                <img src="../../static/assets/favourite.svg" alt="Иконка избранного">
                            </div>
                        </div>
                        <div class="ad__name-and-size">
                            <h3 class="ad__name">Женщина</h3>
                            <span class="ad__size">49.5 EUR</span>
                        </div>
                        <div class="ad__category">Людыны</div>
                        <div class="ad__price">69 000 руб.</div>
                    </div>

                    <div class="part__ad ad"> <!--Объявление целиком-->

                        <div class="ad__author">
                            <div class="ad__author-photo">
                                <img src="../../static/assets/scan.svg" alt="">
                            </div>
                            <div class="ad__author-info">
                                <span class="ad__author-name">Михал Палыч</span>
                                <div class="ad__author-rating">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-empty.svg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                            <div class="ad__arrow ad__arrow_left">
                                <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                            </div>
                            <div class="ad__all-images"> <!--Все фото в линию-->
                                <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                            </div>
                            <div class="ad__arrow ad__arrow_right">
                                <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                            </div>
                            <div class="ad__favourite-icon">
                                <img src="../../static/assets/favourite.svg" alt="Иконка избранного">
                            </div>
                        </div>
                        <div class="ad__name-and-size">
                            <h3 class="ad__name">Мужчина</h3>
                            <span class="ad__size">49.5 EUR</span>
                        </div>
                        <div class="ad__category">Человеки</div>
                        <div class="ad__price">69 000 руб.</div>
                    </div>

                    <div class="part__ad ad"> <!--Объявление целиком-->

                        <div class="ad__author">
                            <div class="ad__author-photo">
                                <img src="../../static/assets/scan.svg" alt="">
                            </div>
                            <div class="ad__author-info">
                                <span class="ad__author-name">Михал Палыч</span>
                                <div class="ad__author-rating">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-empty.svg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                            <div class="ad__arrow ad__arrow_left">
                                <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                            </div>
                            <div class="ad__all-images"> <!--Все фото в линию-->
                                <img src="../../static/assets/female.jpg" alt="" class="ad__img">
                            </div>
                            <div class="ad__arrow ad__arrow_right">
                                <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                            </div>
                            <div class="ad__favourite-icon">
                                <img src="../../static/assets/favourite.svg" alt="Иконка избранного">
                            </div>
                        </div>
                        <div class="ad__name-and-size">
                            <h3 class="ad__name">Женщина</h3>
                            <span class="ad__size">49.5 EUR</span>
                        </div>
                        <div class="ad__category">Людыны</div>
                        <div class="ad__price">69 000 руб.</div>
                    </div>

                    <div class="part__ad ad"> <!--Объявление целиком-->

                        <div class="ad__author">
                            <div class="ad__author-photo">
                                <img src="../../static/assets/scan.svg" alt="">
                            </div>
                            <div class="ad__author-info">
                                <span class="ad__author-name">Михал Палыч</span>
                                <div class="ad__author-rating">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-empty.svg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                            <div class="ad__arrow ad__arrow_left">
                                <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                            </div>
                            <div class="ad__all-images"> <!--Все фото в линию-->
                                <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                            </div>
                            <div class="ad__arrow ad__arrow_right">
                                <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                            </div>
                            <div class="ad__favourite-icon">
                                <img src="../../static/assets/favourite.svg" alt="Иконка избранного">
                            </div>
                        </div>
                        <div class="ad__name-and-size">
                            <h3 class="ad__name">Мужчина</h3>
                            <span class="ad__size">49.5 EUR</span>
                        </div>
                        <div class="ad__category">Человеки</div>
                        <div class="ad__price">69 000 руб.</div>
                    </div>

                    <div class="part__ad ad"> <!--Объявление целиком-->

                        <div class="ad__author">
                            <div class="ad__author-photo">
                                <img src="../../static/assets/scan.svg" alt="">
                            </div>
                            <div class="ad__author-info">
                                <span class="ad__author-name">Михал Палыч</span>
                                <div class="ad__author-rating">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-empty.svg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                            <div class="ad__arrow ad__arrow_left">
                                <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                            </div>
                            <div class="ad__all-images"> <!--Все фото в линию-->
                                <img src="../../static/assets/female.jpg" alt="" class="ad__img">
                            </div>
                            <div class="ad__arrow ad__arrow_right">
                                <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                            </div>
                            <div class="ad__favourite-icon">
                                <img src="../../static/assets/favourite.svg" alt="Иконка избранного">
                            </div>
                        </div>
                        <div class="ad__name-and-size">
                            <h3 class="ad__name">Женщина</h3>
                            <span class="ad__size">49.5 EUR</span>
                        </div>
                        <div class="ad__category">Людыны</div>
                        <div class="ad__price">69 000 руб.</div>
                    </div>

                    <div class="part__ad ad"> <!--Объявление целиком-->

                        <div class="ad__author">
                            <div class="ad__author-photo">
                                <img src="../../static/assets/scan.svg" alt="">
                            </div>
                            <div class="ad__author-info">
                                <span class="ad__author-name">Михал Палыч</span>
                                <div class="ad__author-rating">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-filled.svg" alt="">
                                    <img src="../../static/assets/star-empty.svg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                            <div class="ad__arrow ad__arrow_left">
                                <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                            </div>
                            <div class="ad__all-images"> <!--Все фото в линию-->
                                <img src="../../static/assets/female.jpg" alt="" class="ad__img">
                            </div>
                            <div class="ad__arrow ad__arrow_right">
                                <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                            </div>
                            <div class="ad__favourite-icon">
                                <img src="../../static/assets/favourite.svg" alt="Иконка избранного">
                            </div>
                        </div>
                        <div class="ad__name-and-size">
                            <h3 class="ad__name">Женщина</h3>
                            <span class="ad__size">49.5 EUR</span>
                        </div>
                        <div class="ad__category">Людыны</div>
                        <div class="ad__price">69 000 руб.</div>
                    </div>
                </div>
            </div>
            <div class="part__arrow part__arrow_right part__arrow_popular-today">
                <img src="../../static/assets/arrow-right.svg" alt="Стрелка пролистывания вправо">
            </div>
        </div>


    </main>
    <footer class="footer">
        <div class="container footer__container">
            <div class="footer__column footer__column_first">
                <a href="" class="footer__link footer__link_46">Пользовательское соглашение</a>
                <a href="" class="footer__link footer__link_46">Безопасная сделка</a>
                <a href="">Помощь и поддержка</a>
                <a href="">Критерии отбора публикаций</a>
            </div>
            <div class="footer__column footer__column_second">
                <a href="" class="footer__link footer__link_46">Политика конфиденциальности</a>
                <a href="" class="footer__link footer__link_46">Правила безопасной сделки</a>
                <a href="">FAQ</a>
            </div>
            <div class="footer__column footer__column_third">
                <a href="" class="footer__link footer__link_46">Правила оказания услуг</a>
                <a href="" class="footer__link footer__link_46">Контакты</a>
                <a href="">Новости</a>
            </div>
            <div class="footer__column footer__column_fourth">
                <span>Мы в соц. сетях</span>
                <div class="footer__media-links">
                    <a href=""><img src="../../static/assets/youtube.svg" alt="Иконка YouTube" class="media-links__icon"></a>
                    <a href=""><img src="../../static/assets/vk.svg" alt="Иконка VK" class="media-links__icon"></a>
                    <a href=""><img src="../../static/assets/facebook.svg" alt="Иконка Facebook" class="media-links__icon"></a>
                    <a href=""><img src="../../static/assets/instagram.svg" alt="Иконка Instagram" class="media-links__icon"></a>
                    <a href=""><img src="../../static/assets/telegram.svg" alt="Иконка Telegram" class="media-links__icon"></a>
                </div>
                <span>Подписка на новости</span>
                <label class="subscribe__text" for="footer-subscribe">Получайте все самые последние новости о мероприятиях.</label>
                <form class="subscribe">
                    <input type="text" class="subscribe__field" id="footer-subscribe">
                    <input type="submit" value="" class="button subscribe__button">
                </form>
            </div>
        </div>
    </footer>
    <script src="../../static/js/ad-carousel.js"></script>
    <script src="../../static/js/part-carousel.js"></script>
    <script src="../../static/js/auth.js"></script>
</body>
</html>