<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/static-pages.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header class="header">
    <div class="services">
        <div class="container services__container">
            <div class="services__item">
                <img src="../../static/assets/safety.svg" alt="Иконка безопасной сделки" class="services__icon">
                <span>Безопасная сделка</span>
            </div>
            <div class="services__item">
                <img src="../../static/assets/delivery.svg" alt="Иконка доставки" class="services__icon">
                <span>Бесплатная доставка</span>
            </div>
            <div class="services__item">
                <img src="../../static/assets/scan.svg" alt="Иконка экспертизы" class="services__icon">
                <span>Экспертиза на подлинность</span>
            </div>
        </div>
    </div>
    <div class="header-base__line">
        <div class="container header__base">
            <form class="header__search">
                <div class="search__field">
                    <label for="header-search">
                        <img src="../../static/assets/search.svg" alt="Иконка поиска" class="search__icon">
                    </label>
                    <input class="search__input" type="search" id="header-search" placeholder="Поиск по товарам">
                </div>
                <input class="search__button button" type="submit" value="Найти">
            </form>
            <div class="header__logo">
                <img src="../../static/assets/droux-logo.svg" alt="Логотип Droux">
            </div>
            <div class="header__buttons">
                <a href="" class="button sell__button">Продать</a>
                <img src="../../static/assets/chat.svg" alt="Иконка чата" class="buttons__icon">
                <img src="../../static/assets/favourite.svg" alt="Иконка избранного" class="buttons__icon">
                <span>Войти</span><img src="../../static/assets/male.jpg" alt="" class="header__user-photo">
            </div>
        </div>
    </div>
    <div class="header-nav__line">
        <nav class="header__nav">
            <a href="" class="dropdown__button_to-hide">ВЫБОР DROUX</a>
            <a href="" class="dropdown__button_to-hide">НОВИНКИ</a>
            <a href="" class="dropdown__button">БРЕНДЫ</a>
            <a href="" class="dropdown__button">ОДЕЖДА</a>
            <a href="" class="dropdown__button">ОБУВЬ</a>
            <a href="" class="dropdown__button">СУМКИ</a>
            <a href="" class="dropdown__button">АКСЕССУАРЫ</a>
        </nav>
    </div>
    <div class="header__dropdown dropdown">
        <div class="dropdown__border-for-brands dropdown__border">
            <h2 class="dropdown__header">Наш выбор</h2>
            <div class="dropdown__content container dropdown__content_brands">
                <div class="dropdown__letter">
                    <a href="" class="dropdown__link">Adidas</a>
                    <a href="" class="dropdown__link">Alexander McQueen</a>
                    <a href="" class="dropdown__link">Alexander Wang</a>
                </div>
                <div class="dropdown__letter">
                    <a href="" class="dropdown__link">Balenciaga</a>
                    <a href="" class="dropdown__link">Bape</a>
                    <a href="" class="dropdown__link">Burberry</a>
                </div>
                <div class="dropdown__letter">
                    <a href="" class="dropdown__link">Cartier</a>
                    <a href="" class="dropdown__link">Comme De Garçons</a>
                </div>
                <div class="dropdown__letter dropdown__letter_last">
                    <a href="" class="dropdown__link">Dior</a>
                    <a href="" class="dropdown__link">Dolce & Gabbana</a>
                </div>
                <div class="dropdown__letter">
                    <a href="" class="dropdown__link">Fear of God</a>
                </div>
                <div class="dropdown__letter">
                    <a href="" class="dropdown__link">Givenci</a>
                    <a href="" class="dropdown__link">Gucci</a>
                </div>
                <div class="dropdown__letter">
                    <a href="" class="dropdown__link">Lanvin</a>
                    <a href="" class="dropdown__link">Louis Vuitton</a>
                </div>
                <div class="dropdown__letter">
                    <a href="" class="dropdown__link">Max Mara</a>
                </div>
                <div class="dropdown__letter">
                    <a href="" class="dropdown__link">Nike</a>
                </div>
                <div class="dropdown__letter dropdown__letter_last">
                    <a href="" class="dropdown__link">Off-white</a>
                </div>
                <div class="dropdown__letter">
                    <a href="" class="dropdown__link">RAF Simons</a>
                    <a href="" class="dropdown__link">Rolex</a>
                </div>
                <div class="dropdown__letter">
                    <a href="" class="dropdown__link">Saint Laurent</a>
                    <a href="" class="dropdown__link">Stone Island</a>
                    <a href="" class="dropdown__link">Supreme</a>
                </div>
                <div class="dropdown__letter">
                    <a href="" class="dropdown__link">Valentino</a>
                    <a href="" class="dropdown__link">Versache</a>
                </div>
                <a href="" class="dropdown__all-brands">Все бренды</a>
            </div>
        </div>
        <div class="dropdown__border">
            <div class="dropdown__content container">
                <a href="" class="dropdown__link">ЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫ</a>
                <a href="" class="dropdown__link">ЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫ</a>
                <a href="" class="dropdown__link">ЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫ</a>
                <a href="" class="dropdown__link">ЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫ</a>
            </div>
        </div>
        <div class="dropdown__border">
            <div class="dropdown__content container">
                <a href="" class="dropdown__link">ААААААААААААААААААААААААА</a>
                <a href="" class="dropdown__link">АААААААААААААААААААААААААА</a>
                <a href="" class="dropdown__link">АААААААААААААААААААААААААААА</a>
                <a href="" class="dropdown__link">АААААААААААААААААААААААААААААААААа</a>
            </div>
        </div>
        <div class="dropdown__border">
            <div class="dropdown__content container">
                <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИИИИ</a>
                <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИИИИИИ</a>
                <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИ</a>
                <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИИИИИИ</a>
                <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИИИИ</a>
                <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИИИИИИ</a>
                <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИ</a>
                <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИИИИИИ</a>
                <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИИИИ</a>
                <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИИИИИИ</a>
                <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИ</a>
                <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИИИИИИ</a>
                <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИИИИ</a>
                <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИИИИИИ</a>
                <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИ</a>
                <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИИИИИИ</a>
            </div>
        </div>
        <div class="dropdown__border">
            <div class="dropdown__content container">
                <a href="" class="dropdown__link">Хуй</a>
                <a href="" class="dropdown__link">Хуй</a>
                <a href="" class="dropdown__link">Жопа</a>
                <a href="" class="dropdown__link">Пидор</a>
            </div>
        </div>
    </div>
</header>
<!--    <main class="static container static__product-is-created">-->
<!--        <h1 class="static__header">Ваша публикация успешно создана!</h1>-->
<!--        <p class="static__text">Сейчас она находится на рассмотрении. В течение 30 минут<br>публикация будет размещена на сайте.</p>-->
<!--        <a href="" class="button static__button">Вернуться в личный кабинет</a>-->
<!--    </main>-->

<!--    <main class="static container static__for-customers">-->
<!--        <h1 class="static__header">Для покупателя</h1>-->
<!--        <p class="static__text">У нас Вы можете с лёгкостью приобрести брендовые и оригинальные вещи от проверенных продовцов. Вы обязательно сможете подобрать что-то интересное для себя и своих близких в разделах, представленных на Droux.ru.<br>-->
<!--            <br>-->
<!--            Каждый товар проходит обязательную экспертизу на подлинность, поэтому Вы можете быть спокойны за свой заказ! Мы работаем по системе «Безопасная сделка», которая гарантирует Вам качество и получение заказа без происшествий.<br>-->
<!--            <br>-->
<!--            Попробуйте шопинг на нашем сайте и испытайте приятные эмоции при заказе желанной вещи, а наши курьеры позаботятся о том, чтобы заказ пришел к Вам вовремя и бесплатно!<br>-->
<!--        </p>-->
<!--        <a href="" class="button static__button">Вернуться в личный кабинет</a>-->
<!--    </main>-->

<!--    <main class="static container static__for-seller">-->
<!--        <h1 class="static__header">Для продавца</h1>-->
<!--        <p class="static__text">-->
<!--            У нас Вы сможете с лёгкостью продать любую вещь! Все, что Вам нужно – зарегистрироваться и сделать первую публикацию.<br>-->
<!--            <br>-->
<!--            Приобретая платные услуги, Вы повышаете вероятность продажи в несколько раз. А наша система безопасной сделки обеспечит качественный процесс передачи заказа.<br>-->
<!--            <br>-->
<!--            На Droux.ru Вы можете выложить релиз, воспользовавшись услугой «Предзаказ». Так покупатели заранее смогут узнать о новинке и забронировать её у Вас.<br>-->
<!--            <br>-->
<!--            Мы взимаем комиссию 9% с каждой продажи. Она покрывает услуги экспертизы, доставки и безопасной сделки. Вам остаётся просто разместить публикацию!<br>-->
<!--            <br>-->
<!--            После текста необходимо сделать кнопку «Разместить публикацию», которая будет переводить на страницу создания карточки товара.<br>-->
<!--        </p>-->
<!--        <a href="" class="button static__button">Вернуться в личный кабинет</a>-->
<!--    </main>-->

<!--    <main class="static container static__order-is-created">-->
<!--        <h1 class="static__header">Ваш заказ №14HH оформлен!</h1>-->
<!--        <span class="static__order-address">Вы оформии заказ на адрес: Берлин, ул. А. Шикльгрубера, д. 88, кв. 14</span>-->
<!--        <p class="static__text">-->
<!--            Для того, чтобы убедиться в подлинности товара, продавец вышлет его к нам в офис для проверки.<br>-->
<!--            В случае успешной проверки, товар будет отправлен Вам.<br>-->
<!--            Вы сможете получить заказ в течение 14 дней.<br>-->
<!--            <br>-->
<!--            <br>-->
<!--            Если товар не будет соответствовать заявленым параметрам, мы вернем Вам деньги в полном-->
<!--            объеме.<br>-->
<!--            <br>-->
<!--            Продавец не получит оплату до тех пор, пока Вы не получите товар.<br>-->
<!--            Деньги будут заморожены на Вашем счету.-->
<!--        </p>-->
<!--        <a href="" class="button static__button">Вернуться в личный кабинет</a>-->
<!--    </main>-->

<!--    <main class="static container static__payment-troubles">-->
<!--        <h1 class="static__header">Возникли проблемы с оплатой?</h1>-->
<!--        <p class="static__text">-->
<!--            Свяжитесь с нами любым удобным для Вас способом-->
<!--        </p>-->
<!--        <a href="" class="button static__button">Вернуться на главную</a>-->
<!--    </main>-->

<!--    <main class="static container static__commission-info">-->
<!--        <h1 class="static__header">Почему мы взимаем комиссию?</h1>-->
<!--        <p class="static__text">-->
<!--            Команда Droux делает все, чтобы покупатель получил оригинальную вещь, которую желал, без обмана и фейков.<br>-->
<!--            <br>-->
<!--            Чтобы обезопасить сделку, мы берем комиссию в размере 9% от стоимости товара, таким образом сокращается риск появления недоброжелательных продавцов.<br>-->
<!--            Комиссия покрывает услуги безопасной сделки, курьерской службы и экспертов, которые проверяют каждую вещь на подлинность.<br>-->
<!--            При проведении сделки между покупателем и продавцом, наша площадка выступает в роли гаранта, который обеспечивает передачу денег именно за тот товар, который выложен на нашей платформе.<br>-->
<!--            Мы дорожим качеством предоставляемых нами и услуг!-->
<!--        </p>-->
<!--        <a href="" class="button static__button">Вернуться на главную</a>-->
<!--    </main>-->


<!--    <main class="static container static__agreement">-->
<!--        <h1 class="static__header">Пользовательское соглашение</h1>-->
<!--        <p class="static__text">-->
<!--            Настоящий документ «Пользовательское соглашение» представляет собой предложение заключить договор на изложенных ниже условиях.<br>-->
<!--            <br>-->
<!--            1. Общие положения<br>-->
<!--            <br>-->
<!--            1.1. В настоящем документе и вытекающих или связанных с ним отношениях Сторон применяются следующие термины и определения:<br>-->
<!--            <br>-->
<!--            а) Сервис – совокупность Сайта и размещенного на нем Контента, к которым Пользователям предоставляется доступ с использованием Платформы.<br>-->
<!--            <br>-->
<!--            б) Платформа – программно-аппаратные средства Правообладателя, интегрированные с Сайтом.<br>-->
<!--            <br>-->
<!--            в) Сайт – автоматизированная информационная система, доступная в сети Интернет по адресу (включая поддомены) https://themarket.io/.<br>-->
<!--            <br>-->
<!--            г) Правообладатель – ИП Постников Михаил Олегович, являющийся обладателем исключительных прав на программные средства Платформы.<br>-->
<!--            <br>-->
<!--            д) Пользователь – лицо, заключившее настоящее Соглашение с Правообладателем в своем или чужом интересе в соответствии с требованиями действующего законодательства и настоящего Соглашения.<br>-->
<!--            <br>-->
<!--            е) Контент – любые объявления и информационные материалы, включая текстовые, графические, аудио и видеоматериалы, к которым можно получить доступ с использованием Сервиса.<br>-->
<!--            <br>-->
<!--            ж) Личный кабинет – персональный раздел Сайта, к которому Пользователь получает доступ после прохождения регистрации и/или авторизации на Сайте. Личный кабинет предназначен для хранения персональных данных Пользователя, настройка параметров нотификации, просмотра и управления иными доступными функциональными возможностями Сайта.<br>-->
<!--            <br>-->
<!--            1.2. В настоящем Соглашении могут быть использованы иные термины и определения, не указанные в п.1.1 Соглашения. В этом случае толкование такого термина производится в соответствии с текстом Соглашения. В случае отсутствия однозначного толкования термина или определения в тексте Соглашения следует руководствоваться его толкованием, определенным: в первую очередь – указанными в нем обязательными документами, во вторую очередь – законодательством Российской Федерации, и в последующем – обычаями делового оборота и научной доктриной.<br>-->
<!--            <br>-->
<!--            1.3. Использование вами Сайта и/или предоставляемого на его основе Сервиса любым способом и в любой форме в пределах объявленных функциональных возможностей и назначения, включая:<br>-->
<!--            <br>-->
<!--            регистрация и/или авторизация на Сайте;<br>-->
<!--            иное использование функциональных возможностей Сайта и/или предоставляемого на его основе Сервиса в соответствии с Обязательными документами,<br>-->
<!--            создает договор на условиях настоящего Соглашения и указанных в нем обязательных для Сторон документов в соответствии с положениями ст. 437 и 438 Гражданского кодекса Российской Федерации.<br>-->
<!--            <br>-->
<!--            1.4. Воспользовавшись любой из указанных выше возможностей по использованию Сервиса вы подтверждаете, что:<br>-->
<!--            а) Ознакомились с условиями настоящего Соглашения и указанных в нем Обязательных документов в полном объеме до начала использования Сайта и/или предоставляемого на его основе Сервиса;<br>-->
<!--            б) Принимаете все условия настоящего Соглашения и указанных в нем Обязательных документов в полном объеме без каких-либо изъятий и ограничений с вашей стороны и обязуетесь их соблюдать или прекратить использование Сайта и/или предоставляемого на его основе Сервиса. Если вы не согласны с условиями настоящего Соглашения и указанных в нем Обязательных документов или не имеете права на заключение договора на их основе, вам следует незамедлительно прекратить любое использование Сайта и/или предоставляемого на его основе Сервиса;<br>-->
<!--            в) Соглашение (в том числе любая из его частей) и/или указанные в нем Обязательные документы могут быть изменены Правообладателем без какого-либо специального уведомления. Новая редакция Соглашения и/или указанных в нем Обязательных документов вступает в силу с момента размещения на сайте Правообладателя либо доведения до сведения Пользователя в иной удобной форме, если иное не предусмотрено новой редакцией Соглашения и/или указанных в нем обязательных для Сторон документов.-->
<!--        </p>-->
<!--        <a href="" class="button static__button">Вернуться на главную</a>-->
<!--    </main>-->

<!--    <main class="static container static__personal-info">-->
<!--        <h1 class="static__header">Политика конфиденциальности</h1>-->
<!--        <p class="static__text">-->
<!--            Настоящий документ «Политика конфиденциальности» представляет собой предложение заключить договор на изложенных ниже условиях.<br>-->
<!--            <br>-->
<!--            1. Общие положения<br>-->
<!--            <br>-->
<!--            1.1. В настоящем документе и вытекающих или связанных с ним отношениях Сторон применяются следующие термины и определения:<br>-->
<!--            <br>-->
<!--            а) Сервис – совокупность Сайта и размещенного на нем Контента, к которым Пользователям предоставляется доступ с использованием Платформы.<br>-->
<!--            <br>-->
<!--            б) Платформа – программно-аппаратные средства Правообладателя, интегрированные с Сайтом.<br>-->
<!--            <br>-->
<!--            в) Сайт – автоматизированная информационная система, доступная в сети Интернет по адресу (включая поддомены) https://themarket.io/.<br>-->
<!--            <br>-->
<!--            г) Правообладатель – ИП Постников Михаил Олегович, являющийся обладателем исключительных прав на программные средства Платформы.<br>-->
<!--            <br>-->
<!--            д) Пользователь – лицо, заключившее настоящее Соглашение с Правообладателем в своем или чужом интересе в соответствии с требованиями действующего законодательства и настоящего Соглашения.<br>-->
<!--            <br>-->
<!--            е) Контент – любые объявления и информационные материалы, включая текстовые, графические, аудио и видеоматериалы, к которым можно получить доступ с использованием Сервиса.<br>-->
<!--            <br>-->
<!--            ж) Личный кабинет – персональный раздел Сайта, к которому Пользователь получает доступ после прохождения регистрации и/или авторизации на Сайте. Личный кабинет предназначен для хранения персональных данных Пользователя, настройка параметров нотификации, просмотра и управления иными доступными функциональными возможностями Сайта.<br>-->
<!--            <br>-->
<!--            1.2. В настоящем Соглашении могут быть использованы иные термины и определения, не указанные в п.1.1 Соглашения. В этом случае толкование такого термина производится в соответствии с текстом Соглашения. В случае отсутствия однозначного толкования термина или определения в тексте Соглашения следует руководствоваться его толкованием, определенным: в первую очередь – указанными в нем обязательными документами, во вторую очередь – законодательством Российской Федерации, и в последующем – обычаями делового оборота и научной доктриной.<br>-->
<!--            <br>-->
<!--            1.3. Использование вами Сайта и/или предоставляемого на его основе Сервиса любым способом и в любой форме в пределах объявленных функциональных возможностей и назначения, включая:<br>-->
<!--            <br>-->
<!--            регистрация и/или авторизация на Сайте;<br>-->
<!--            иное использование функциональных возможностей Сайта и/или предоставляемого на его основе Сервиса в соответствии с Обязательными документами,<br>-->
<!--            создает договор на условиях настоящего Соглашения и указанных в нем обязательных для Сторон документов в соответствии с положениями ст. 437 и 438 Гражданского кодекса Российской Федерации.<br>-->
<!--            <br>-->
<!--            1.4. Воспользовавшись любой из указанных выше возможностей по использованию Сервиса вы подтверждаете, что:<br>-->
<!--            а) Ознакомились с условиями настоящего Соглашения и указанных в нем Обязательных документов в полном объеме до начала использования Сайта и/или предоставляемого на его основе Сервиса;<br>-->
<!--            б) Принимаете все условия настоящего Соглашения и указанных в нем Обязательных документов в полном объеме без каких-либо изъятий и ограничений с вашей стороны и обязуетесь их соблюдать или прекратить использование Сайта и/или предоставляемого на его основе Сервиса. Если вы не согласны с условиями настоящего Соглашения и указанных в нем Обязательных документов или не имеете права на заключение договора на их основе, вам следует незамедлительно прекратить любое использование Сайта и/или предоставляемого на его основе Сервиса;<br>-->
<!--            в) Соглашение (в том числе любая из его частей) и/или указанные в нем Обязательные документы могут быть изменены Правообладателем без какого-либо специального уведомления. Новая редакция Соглашения и/или указанных в нем Обязательных документов вступает в силу с момента размещения на сайте Правообладателя либо доведения до сведения Пользователя в иной удобной форме, если иное не предусмотрено новой редакцией Соглашения и/или указанных в нем обязательных для Сторон документов.-->
<!--        </p>-->
<!--        <a href="" class="button static__button">Вернуться на главную</a>-->
<!--    </main>-->

<!--    <main class="static container static__info-rules">-->
<!--        <h1 class="static__header">Правила оказания информационных услуг</h1>-->
<!--        <p class="static__text">-->
<!--            Настоящий документ «Правила оказания информационных услуг» представляет собой предложение заключить договор на изложенных ниже условиях.<br>-->
<!--            <br>-->
<!--            1. Общие положения<br>-->
<!--            <br>-->
<!--            1.1. В настоящем документе и вытекающих или связанных с ним отношениях Сторон применяются следующие термины и определения:<br>-->
<!--            <br>-->
<!--            а) Сервис – совокупность Сайта и размещенного на нем Контента, к которым Пользователям предоставляется доступ с использованием Платформы.<br>-->
<!--            <br>-->
<!--            б) Платформа – программно-аппаратные средства Правообладателя, интегрированные с Сайтом.<br>-->
<!--            <br>-->
<!--            в) Сайт – автоматизированная информационная система, доступная в сети Интернет по адресу (включая поддомены) https://themarket.io/.<br>-->
<!--            <br>-->
<!--            г) Правообладатель – ИП Постников Михаил Олегович, являющийся обладателем исключительных прав на программные средства Платформы.<br>-->
<!--            <br>-->
<!--            д) Пользователь – лицо, заключившее настоящее Соглашение с Правообладателем в своем или чужом интересе в соответствии с требованиями действующего законодательства и настоящего Соглашения.<br>-->
<!--            <br>-->
<!--            е) Контент – любые объявления и информационные материалы, включая текстовые, графические, аудио и видеоматериалы, к которым можно получить доступ с использованием Сервиса.<br>-->
<!--            <br>-->
<!--            ж) Личный кабинет – персональный раздел Сайта, к которому Пользователь получает доступ после прохождения регистрации и/или авторизации на Сайте. Личный кабинет предназначен для хранения персональных данных Пользователя, настройка параметров нотификации, просмотра и управления иными доступными функциональными возможностями Сайта.<br>-->
<!--            <br>-->
<!--            1.2. В настоящем Соглашении могут быть использованы иные термины и определения, не указанные в п.1.1 Соглашения. В этом случае толкование такого термина производится в соответствии с текстом Соглашения. В случае отсутствия однозначного толкования термина или определения в тексте Соглашения следует руководствоваться его толкованием, определенным: в первую очередь – указанными в нем обязательными документами, во вторую очередь – законодательством Российской Федерации, и в последующем – обычаями делового оборота и научной доктриной.<br>-->
<!--            <br>-->
<!--            1.3. Использование вами Сайта и/или предоставляемого на его основе Сервиса любым способом и в любой форме в пределах объявленных функциональных возможностей и назначения, включая:<br>-->
<!--            <br>-->
<!--            регистрация и/или авторизация на Сайте;<br>-->
<!--            иное использование функциональных возможностей Сайта и/или предоставляемого на его основе Сервиса в соответствии с Обязательными документами,<br>-->
<!--            создает договор на условиях настоящего Соглашения и указанных в нем обязательных для Сторон документов в соответствии с положениями ст. 437 и 438 Гражданского кодекса Российской Федерации.<br>-->
<!--            <br>-->
<!--            1.4. Воспользовавшись любой из указанных выше возможностей по использованию Сервиса вы подтверждаете, что:<br>-->
<!--            а) Ознакомились с условиями настоящего Соглашения и указанных в нем Обязательных документов в полном объеме до начала использования Сайта и/или предоставляемого на его основе Сервиса;<br>-->
<!--            б) Принимаете все условия настоящего Соглашения и указанных в нем Обязательных документов в полном объеме без каких-либо изъятий и ограничений с вашей стороны и обязуетесь их соблюдать или прекратить использование Сайта и/или предоставляемого на его основе Сервиса. Если вы не согласны с условиями настоящего Соглашения и указанных в нем Обязательных документов или не имеете права на заключение договора на их основе, вам следует незамедлительно прекратить любое использование Сайта и/или предоставляемого на его основе Сервиса;<br>-->
<!--            в) Соглашение (в том числе любая из его частей) и/или указанные в нем Обязательные документы могут быть изменены Правообладателем без какого-либо специального уведомления. Новая редакция Соглашения и/или указанных в нем Обязательных документов вступает в силу с момента размещения на сайте Правообладателя либо доведения до сведения Пользователя в иной удобной форме, если иное не предусмотрено новой редакцией Соглашения и/или указанных в нем обязательных для Сторон документов.-->
<!--        </p>-->
<!--        <a href="" class="button static__button">Вернуться на главную</a>-->
<!--    </main>-->

<!--    <main class="static container static__saf-deal">-->
<!--        <h1 class="static__header">Правила безопасной сделки</h1>-->
<!--        <p class="static__text">-->
<!--            Обезопасьте себя – воспользуйтесь безопасной сделкой!<br>-->
<!--            <br>-->
<!--            - выберите товар и совершите покупку<br>-->
<!--            - после совершения покупки, деньги замораживаются<br>-->
<!--            - получите товар и подтвердите его соответствие<br>-->
<!--            - только после этого замороженная сумма переводится продавцу<br>-->
<!--            <br>-->
<!--            Каждый товар проходит экспертизу на подлинность перед отправкой покупателю<br>-->
<!--            <br>-->
<!--            <b>Как сделать сделку действительно безопасной?</b><br>-->
<!--            <br>-->
<!--            Несколько простых шагов:<br>-->
<!--            <br>-->
<!--            - продавцу необходимо снять видео, где виден сам товар и процесс его упаковки.<br>-->
<!--            - покупателю необходимо снять видео, где виден полученный товар и процесс его распаковки.<br>-->
<!--            - на видео также должна быть накладная, где отчетливо видны все данные отправки.<br>-->
<!--            <br>-->
<!--            В случае, если одна из сторон не соблюдает правила безопасной сделки, то преимущество переходит второй стороне. Это необходимо при разрешении спора, если такой возникает.<br>-->
<!--            Если Вы обошли безопасную сделку, мы не сможем Вам помочь. Вы рискуете быть обманутым!-->
<!--        </p>-->
<!--        <a href="" class="button static__button">Вернуться на главную</a>-->
<!--    </main>-->

<!--    <main class="static container static__contacts">-->
<!--        <h1 class="static__header">Контакты</h1>-->
<!--        <p class="static__text">-->
<!--            ИП Постников Михаил Олегович<br>-->
<!--            ОГРНИП 316595800167239<br>-->
<!--            Адрес: 614015, г. Пермь, ул. Советская, д. 65А, оф. 15 (215)<br>-->
<!--            По всем вопросам просьба обращаться в нашу группу ВКонтакте<br>-->
<!--            Email: help@tmrkt.ru (только для коммерческих предложений)<br>-->
<!--            <br>-->
<!--            VK-951320<br>-->
<!--        </p>-->
<!--        <a href="" class="button static__button">Вернуться на главную</a>-->
<!--    </main>-->

    <main class="static container static__contacts">
        <h1 class="static__header">Критерии отбора публикаций</h1>
        <p class="static__text">
            Главное - чтобы редактору понравилось
        </p>
        <a href="" class="button static__button">Вернуться на главную</a>
    </main>



    <footer class="footer">
        <div class="container footer__container">
            <div class="footer__column footer__column_first">
                <a href="" class="footer__link footer__link_46">Пользовательское соглашение</a>
                <a href="" class="footer__link footer__link_46">Безопасная сделка</a>
                <a href="">Помощь и поддержка</a>
                <a href="">Критерии отбора публикаций</a>
            </div>
            <div class="footer__column footer__column_second">
                <a href="" class="footer__link footer__link_46">Политика конфиденциальности</a>
                <a href="" class="footer__link footer__link_46">Правила безопасной сделки</a>
                <a href="">FAQ</a>
            </div>
            <div class="footer__column footer__column_third">
                <a href="" class="footer__link footer__link_46">Правила оказания услуг</a>
                <a href="" class="footer__link footer__link_46">Контакты</a>
                <a href="">Новости</a>
            </div>
            <div class="footer__column footer__column_fourth">
                <span>Мы в соц. сетях</span>
                <div class="footer__media-links">
                    <a href=""><img src="../../static/assets/youtube.svg" alt="Иконка YouTube" class="media-links__icon"></a>
                    <a href=""><img src="../../static/assets/vk.svg" alt="Иконка VK" class="media-links__icon"></a>
                    <a href=""><img src="../../static/assets/facebook.svg" alt="Иконка Facebook" class="media-links__icon"></a>
                    <a href=""><img src="../../static/assets/instagram.svg" alt="Иконка Instagram" class="media-links__icon"></a>
                    <a href=""><img src="../../static/assets/telegram.svg" alt="Иконка Telegram" class="media-links__icon"></a>
                </div>
                <span>Подписка на новости</span>
                <label class="subscribe__text" for="footer-subscribe">Получайте все самые последние новости о мероприятиях.</label>
                <form class="subscribe">
                    <input type="text" class="subscribe__field" id="footer-subscribe">
                    <input type="submit" value="" class="button subscribe__button">
                </form>
            </div>
        </div>
    </footer>
</body>
</html>