<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../static/css/croppie.css">
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/filters.css">
    <link rel="stylesheet" href="../../static/css/new-product.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
    <header class="header">
    <div class="services">
        <div class="container services__container">
            <div class="services__item">
                <img src="../../static/assets/safety.svg" alt="Иконка безопасной сделки" class="services__icon">
                <span>Безопасная сделка</span>
            </div>
            <div class="services__item">
                <img src="../../static/assets/delivery.svg" alt="Иконка доставки" class="services__icon">
                <span>Бесплатная доставка</span>
            </div>
            <div class="services__item">
                <img src="../../static/assets/scan.svg" alt="Иконка экспертизы" class="services__icon">
                <span>Экспертиза на подлинность</span>
            </div>
        </div>
    </div>
    <div class="header-base__line">
        <div class="container header__base">
            <form class="header__search">
                <div class="search__field">
                    <label for="header-search">
                        <img src="../../static/assets/search.svg" alt="Иконка поиска" class="search__icon">
                    </label>
                    <input class="search__input" type="search" id="header-search" placeholder="Поиск по товарам">
                </div>
                <input class="search__button button" type="submit" value="Найти">
            </form>
            <div class="header__logo">
                <img src="../../static/assets/droux-logo.svg" alt="Логотип Droux">
            </div>
            <div class="header__buttons">
                <a href="" class="button sell__button">Продать</a>
                <img src="../../static/assets/chat.svg" alt="Иконка чата" class="buttons__icon">
                <img src="../../static/assets/favourite.svg" alt="Иконка избранного" class="buttons__icon">
                <span>Войти</span>
            </div>
        </div>
    </div>
    <div class="header-nav__line">
        <nav class="header__nav">
            <a href="">ВЫБОР DROUX</a>
            <a href="">НОВИНКИ</a>
            <a href="">БРЕНДЫ</a>
            <a href="">ОДЕЖДА</a>
            <a href="">ОБУВЬ</a>
            <a href="">СУМКИ</a>
            <a href="">АКСЕССУАРЫ</a>
        </nav>
    </div>
</header>
    <main class="main container">
        <form class="ad-form">
            <div class="mobile__page_1 mobile__page">
                <div class="page-top">
                    <div class="page-top__commission-info">При успешной продаже лота мы взимаем комиссию 9%
                        <a href="">Почему мы взимаем комиссию?</a>
                    </div>
                    <h1 class="page-top__header">Новое объявление</h1>
                    <a href="" class="page-top__requirements-info">Ознакомьтесь с критериями отбора публикаций</a>
                </div>
                <div class="filters ad-form__filters">

                        <div class="filters__sector filters__sector_sex filters__sector_size_s">
                            <div class="filters__sector-header">
                                <span>Категории</span>
                            </div>
                            <div class="filters__must-be-hidden">
                                <div class="filters__sector-options">
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="men" id="men" name="sex">
                                        <label for="men">Мужчины</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="women" id="women" name="sex">
                                        <label for="women">Женщины</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="filters__sector filters__sector_category filters__sector_size_s">
                            <div class="filters__sector-header">
                                <span>Категория</span>
                            </div>
                            <div class="filters__must-be-hidden">
                                <div class="filters__sector-options">
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="clothing" id="clothing" name="category">
                                        <label for="clothing">Одежда</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="footwear" id="footwear" name="category">
                                        <label for="footwear">Обувь</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="outwear" id="outwear" name="category">
                                        <label for="outwear">Верхняя одежда</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="accessories" id="accessories" name="category">
                                        <label for="accessories">Аксессуары</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="filters__sector filters__sector_type filters__sector_size_m">
                            <div class="filters__sector-header">
                                <span>Вид товара</span>
                            </div>
                            <div class="filters__must-be-hidden">
                                <div class="filters__sector-options">
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="bodies" id="bodies" name="type">
                                        <label for="bodies">Боди</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="trousers" id="trousers" name="type">
                                        <label for="trousers">Брюки</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="type_outwear" id="type_outwear" name="type">
                                        <label for="type_outwear">Верхняя одежда</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="turtlenecks" id="turtlenecks" name="type">
                                        <label for="turtlenecks">Водолазки</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="filters__sector filters__sector_brand filters__sector_size_l">
                            <div class="filters__sector-header">
                                <span>Бренды</span>
                            </div>
                            <div class="filters__must-be-hidden">
                                <input type="text" placeholder="Искать" class="filters__search-field">
                                <div class="filters__sector-options">
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="adidas" id="adidas" name="brand">
                                        <label for="adidas">ADIDAS</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="asicks" id="asicks" name="brand">
                                        <label for="asicks">ASICKS</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="armani" id="armani" name="brand">
                                        <label for="armani">ARMANI</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="bordur" id="bordur" name="brand">
                                        <label for="bordur">BORDUR</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="chingchong" id="chingchong" name="brand">
                                        <label for="chingchong">CHINGCHONG</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="dandy" id="dandy" name="brand">
                                        <label for="dandy">DANDY</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="ernie-ball" id="ernie-ball" name="brand">
                                        <label for="ernie-ball">ERNIE BALL</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="fuck-this" id="fuck-this" name="brand">
                                        <label for="fuck-this">FUCK THIS</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="gender-2" id="gender-2" name="brand">
                                        <label for="gender-2">GENDER 2</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="howdy-hu" id="howdy-hu" name="brand">
                                        <label for="howdy-hu">HOWDY HU</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="iiiiiiiii" id="iiiiiiiii" name="brand">
                                        <label for="iiiiiiiii">IIIIIIIII</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="jojo" id="jojo" name="brand">
                                        <label for="jojo">JOJO</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="kkk" id="kkk" name="brand">
                                        <label for="kkk">KKK</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="louis-vuitton" id="louis-vuitton" name="brand">
                                        <label for="louis-vuitton">LOUIS VUITTON</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="mother-of-yours" id="mother-of-yours" name="brand">
                                        <label for="mother-of-yours">MOTHER OF YOURS</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="n*gger" id="n*gger" name="brand">
                                        <label for="n*gger">N*GGER</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="filters__sector filters__sector_size filters__sector_size_l">
                            <div class="filters__sector-header">
                                <span>Размер</span>
                            </div>
                            <div class="filters__must-be-hidden">
                                <input type="text" placeholder="Искать" class="filters__search-field">
                                <div class="filters__sector-options">
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="1" id="1" name="size">
                                        <label for="1">1</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="2" id="2" name="size">
                                        <label for="2">2</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="3" id="3" name="size">
                                        <label for="3">3</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="4" id="4" name="size">
                                        <label for="4">4</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="5" id="5" name="size">
                                        <label for="5">5</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="6" id="6" name="size">
                                        <label for="6">6</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="7" id="7" name="size">
                                        <label for="7">7</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="8" id="8" name="size">
                                        <label for="8">8</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="10" id="10" name="size">
                                        <label for="10">10</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="11" id="11" name="size">
                                        <label for="11">11</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="12" id="12" name="size">
                                        <label for="12">12</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="13" id="13" name="size">
                                        <label for="13">13</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="14" id="14" name="size">
                                        <label for="14">14</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="15" id="15" name="size">
                                        <label for="15">15</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="16" id="16" name="size">
                                        <label for="16">16</label>
                                    </div>
                                    <div class="filters__checkbox-div">
                                        <input type="radio" value="17" id="17" name="size">
                                        <label for="17">17</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <button class="mobile__button mobile__button_1 button">Продолжить</button>
            </div>

            <div class="mobile__page mobile__page_2">
                <h2 class="ad-form__header">Параметры</h2>
                <div class="ad-form__main-info">
                    <div class="form__top-3">
                        <div class="form-column_first form-column">
                            <div class="ad-form__field-div ad-form__field-div_name">
                                <label for="ad-name" class="ad-form__label">Название объявления</label>
                                <div class="bottom-text__wrapper">
                                    <input type="text" id="ad-name">
                                    <span class="bottom-text">Например, «iPhone 6S Plus серый космос 32 гб» или «Фотоаппарат Canon 700D Kit 18-55»</span>
                                </div>
                            </div>
                            <div class="ad-form__field-div ad-form__field-div_description">
                                <label for="ad-description" class="ad-form__label">Описание объявления</label>
                                <div class="bottom-text__wrapper">
                                    <textarea id="ad-description"></textarea>
                                    <span class="bottom-text">Не указывайте в описании телефон и e-mail — для этого есть отдельные поля</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ad-form__state">
                        <div class="ad-form__label">Состояние</div>
                            <div class="state__options">
                                <input type="radio" name="state" id="new-with-tag">
                                <label for="new-with-tag">Новая с биркой</label>
                                <input type="radio" name="state" id="new-without-tag">
                                <label for="new-without-tag">Новая без бирки</label>
                                <input type="radio" name="state" id="worn-once">
                                <label for="worn-once">Надевалась один раз</label>
                                <input type="radio" name="state" id="worn">
                                <label for="worn">Надевалась несколько раз</label>
                                <input type="radio" name="state" id="has-defects">
                                <label for="has-defects">Есть дефекты</label>
                            </div>
                        </div>
                    </div>
                    <div class="ad-form__price">
                        <div class="ad-form__label">Цена</div>
                        <div class="price__input"><input type="text" id="price"><span>₽</span></div>
                    </div>

                <button class="mobile__button mobile__button_1 button">Продолжить</button>
            </div>
            <div class="mobile__page mobile__page_3">
                <div class="bottom-text__wrapper bottom-text__wrapper_photo-uploader">
                    <span class="ad-form__label ad-form__label_for-photos">Фотографии</span>
                    <span class="bottom-text">Не более 10</span>
                </div>
                <div class="ad-form__photo-upload-block uploader">
                    <input type="file" id="photo-upload-input" class="uploader__input">
                    <div id="upload-photo-button" class="uploader__main-label">
                        <label for="photo-upload-input"></label>
                        <img src="../../static/assets/plus.svg" alt="">
                    </div>


                    <div class="uploader__photo-frame-border">
                        <div class="uploader__all-frames">
                            <div class="uploader__photo-frame"></div>
                        </div>
                    </div>
                    <div class="uploader__arrow uploader__arrow_left">
                        <img src="../../static/assets/arrow-left.svg" alt="">
                    </div>

                    <div class="uploader__arrow uploader__arrow_right">
                        <img src="../../static/assets/arrow-right.svg" alt="">
                    </div>
                </div>
                <button class="mobile__button mobile__button_1 button">Продолжить</button>
            </div>
            <div class="mobile__page mobile__page_4">
                <h2 class="ad-form__header ad-form__header_params">Контакты</h2>
                <div class="ad-form__num">
                    <div class="ad-form__label">Телефон</div>
                    <input type="text">
                </div>
                <div class="ad-form__email">
                    <div class="ad-form__label">E-mail</div>
                    <input type="text">
                </div>
                <input type="button" value="Продолжить" class="button ad-form__submit-button">
                <span class="bottom-text bottom-text_submit">*Каждое объявление автоматически удаляется через 2 месяца</span>
            </div>
        </form>
        <div class="uploader__pop-up pop-up pop-up__background">
            <div class="pop-up__cropper-bg">
                <div class="pop-up__croppie-place"></div>
                <div class="pop-up__buttons-div">
                    <button class="button pop-up__button pop-up__button_ok">OK</button>
                    <button class="button pop-up__button pop-up__button_cancel">Отмена</button>
                </div>
                <img src="../../static/assets/close.svg" alt="" class="pop-up__close">
            </div>
        </div>
    </main>
    <footer class="footer">
    <div class="container footer__container">
        <div class="footer__column footer__column_first">
            <a href="" class="footer__link footer__link_46">Пользовательское соглашение</a>
            <a href="" class="footer__link footer__link_46">Безопасная сделка</a>
            <a href="">Помощь и поддержка</a>
            <a href="">Критерии отбора публикаций</a>
        </div>
        <div class="footer__column footer__column_second">
            <a href="" class="footer__link footer__link_46">Политика конфиденциальности</a>
            <a href="" class="footer__link footer__link_46">Правила безопасной сделки</a>
            <a href="">FAQ</a>
        </div>
        <div class="footer__column footer__column_third">
            <a href="" class="footer__link footer__link_46">Правила оказания услуг</a>
            <a href="" class="footer__link footer__link_46">Контакты</a>
            <a href="">Новости</a>
        </div>
        <div class="footer__column footer__column_fourth">
            <span>Мы в соц. сетях</span>
            <div class="footer__media-links">
                <a href=""><img src="../../static/assets/youtube.svg" alt="Иконка YouTube" class="media-links__icon"></a>
                <a href=""><img src="../../static/assets/vk.svg" alt="Иконка VK" class="media-links__icon"></a>
                <a href=""><img src="../../static/assets/facebook.svg" alt="Иконка Facebook" class="media-links__icon"></a>
                <a href=""><img src="../../static/assets/instagram.svg" alt="Иконка Instagram" class="media-links__icon"></a>
                <a href=""><img src="../../static/assets/telegram.svg" alt="Иконка Telegram" class="media-links__icon"></a>
            </div>
            <span>Подписка на новости</span>
            <label class="subscribe__text" for="footer-subscribe">Получайте все самые последние новости о мероприятиях.</label>
            <form class="subscribe">
                <input type="text" class="subscribe__field" id="footer-subscribe">
                <input type="submit" value="" class="button subscribe__button" onclick="Continue()">
            </form>
        </div>
    </div>
</footer>
    <script src="../../static/js/search-filter.js"></script>
    <script src="../../static/js/croppie.min.js"></script>
    <script src="../../static/js/new-product-uploader.js"></script>
</body>
</html>