<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../../static/css/ad.css">
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/profile.css">
    <link rel="stylesheet" href="../../static/css/product.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main class="container profile">
    <div class="profile__card card">
        <div class="card__top">
            <div class="card__photo">
                <img src="../../static/assets/male.jpg" alt="Фото профиля">
            </div>
            <div class="card__info">
                    <span class="card__profile-name">
                        badcode
                    </span>
                <span class="card__reg-date">
                        На Droux с начала времён
                    </span>
                <div class="card__rating-div">
                        <span class="rating__num">
                            4.3
                        </span>
                    <div class ="rating__stars">
                        <img src="../../static/assets/star-filled.svg" alt="">
                        <img src="../../static/assets/star-filled.svg" alt="">
                        <img src="../../static/assets/star-filled.svg" alt="">
                        <img src="../../static/assets/star-filled.svg" alt="">
                        <img src="../../static/assets/star-empty.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="card__change-photo">
            Скоро здесь будут подписки или настройки профиля
        </div>
        <div class="card__review-button-div card__button-div">
            <button href="" class="card__review-button button card__button">Оставить отзыв</button>
        </div>
        <div class="card__subscribe-button-div card__button-div">
            <a href="" class="card__subscribe-button button card__button">Подписаться</a>
        </div>
        <div class="card__nav not-my-card__nav">
            <a href=""><span class="card__label card__label_active">Объявления</span></a>
            <a href=""><span class="card__label">Отзывы</span></a>
        </div>
    </div>
    <div class="profile__content content">
        <div class="my-adss content__border">
            <div class="content__top">
                <h2 class="content__header my-ads__header">Мои объявления</h2>
                <div class="my-ads__buttons">
                    <input type="radio" name="ads-types" id="active" class="content__radio" checked>
                    <label for="active" class="content__label button">Активные</label>
                    <input type="radio" name="ads-types" id="sold" class="content__radio">
                    <label for="sold" class="content__label button">Проданные</label>
                </div>
            </div>
            <div class="profile-ads content__ads content__ads_active content__ads_visible">
                <div class="ad">
                    <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                        <div class="ad__arrow ad__arrow_left">
                            <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                        </div>
                        <div class="ad__all-images"> <!--Все фото в линию-->
                            <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                            <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                            <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                            <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                            <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                        </div>
                        <div class="ad__arrow ad__arrow_right">
                            <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                        </div>
                    </div>
                    <div class="ad__info">
                        <div class="ad__top">
                            <div class="ad__title-and-price">
                                <h2 class="ad__title">Жвачка по рублю</h2>
                                <span class="ad__price">5 руб.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ad">
                    <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                        <div class="ad__arrow ad__arrow_left">
                            <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                        </div>
                        <div class="ad__all-images"> <!--Все фото в линию-->
                            <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                            <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                            <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                            <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                            <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                        </div>
                        <div class="ad__arrow ad__arrow_right">
                            <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                        </div>
                    </div>
                    <div class="ad__info">
                        <div class="ad__top">
                            <div class="ad__title-and-price">
                                <h2 class="ad__title">Жвачка по рублю</h2>
                                <span class="ad__price">5 руб.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-ads content__ads content__ads_sold">
                <div class="ad">
                    <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                        <div class="ad__arrow ad__arrow_left">
                            <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                        </div>
                        <div class="ad__all-images"> <!--Все фото в линию-->
                            <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                            <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                            <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                            <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                            <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                        </div>
                        <div class="ad__arrow ad__arrow_right">
                            <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                        </div>
                    </div>
                    <div class="ad__info">
                        <div class="ad__top">
                            <div class="ad__title-and-price">
                                <h2 class="ad__title">Жвачка по два рубля</h2>
                                <span class="ad__price">5 руб.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ad">
                    <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                        <div class="ad__arrow ad__arrow_left">
                            <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                        </div>
                        <div class="ad__all-images"> <!--Все фото в линию-->
                            <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                            <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                            <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                            <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                            <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                        </div>
                        <div class="ad__arrow ad__arrow_right">
                            <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                        </div>
                    </div>
                    <div class="ad__info">
                        <div class="ad__top">
                            <div class="ad__title-and-price">
                                <h2 class="ad__title">Жвачка по два рубля</h2>
                                <span class="ad__price">5 руб.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ad">
                    <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                        <div class="ad__arrow ad__arrow_left">
                            <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                        </div>
                        <div class="ad__all-images"> <!--Все фото в линию-->
                            <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                            <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                            <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                            <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                            <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                        </div>
                        <div class="ad__arrow ad__arrow_right">
                            <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                        </div>
                    </div>
                    <div class="ad__info">
                        <div class="ad__top">
                            <div class="ad__title-and-price">
                                <h2 class="ad__title">Жвачка по два рубля</h2>
                                <span class="ad__price">5 руб.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="container footer__container">
        <div class="footer__column footer__column_first">
            <a href="" class="footer__link footer__link_46">Пользовательское соглашение</a>
            <a href="" class="footer__link footer__link_46">Безопасная сделка</a>
            <a href="">Помощь и поддержка</a>
            <a href="">Критерии отбора публикаций</a>
        </div>
        <div class="footer__column footer__column_second">
            <a href="" class="footer__link footer__link_46">Политика конфиденциальности</a>
            <a href="" class="footer__link footer__link_46">Правила безопасной сделки</a>
            <a href="">FAQ</a>
        </div>
        <div class="footer__column footer__column_third">
            <a href="" class="footer__link footer__link_46">Правила оказания услуг</a>
            <a href="" class="footer__link footer__link_46">Контакты</a>
            <a href="">Новости</a>
        </div>
        <div class="footer__column footer__column_fourth">
            <span>Мы в соц. сетях</span>
            <div class="footer__media-links">
                <a href=""><img src="../../static/assets/youtube.svg" alt="Иконка YouTube" class="media-links__icon"></a>
                <a href=""><img src="../../static/assets/vk.svg" alt="Иконка VK" class="media-links__icon"></a>
                <a href=""><img src="../../static/assets/facebook.svg" alt="Иконка Facebook" class="media-links__icon"></a>
                <a href=""><img src="../../static/assets/instagram.svg" alt="Иконка Instagram" class="media-links__icon"></a>
                <a href=""><img src="../../static/assets/telegram.svg" alt="Иконка Telegram" class="media-links__icon"></a>
            </div>
            <span>Подписка на новости</span>
            <label class="subscribe__text" for="footer-subscribe">Получайте все самые последние новости о мероприятиях.</label>
            <form class="subscribe">
                <input type="text" class="subscribe__field" id="footer-subscribe">
                <input type="submit" value="" class="button subscribe__button" onclick="Continue()">
            </form>
        </div>
    </div>
</footer>
<div class="review__layout review">
    <form class="review__body">
        <h2>Отзыв о продавце</h2>
        <label for="chooseprod">Объявление</label>
        <select name="product" id="chooseprod">
            <option selected disabled></option>
            <option value="prodID">Пиписьки</option>
            <option value="prodID">Огромные черные тщлены</option>
            <option value="prodID">Игральные карты "Эротика"</option>
            <option value="prodID">Девственность</option>
        </select>
        <label for="result">Объявление</label>
        <select name="product" id="result">
            <option selected disabled></option>
            <option value="failed">Не удалось договориться с продавцом</option>
            <option value="pidor">Сделка сорвалась (Товар не был получен или не соответствовал описанию)</option>
            <option value="chetko">Сделка состоялась</option>
        </select>
        <span class="review__rate">Поставьте оценку</span>
        <div class="product__rating">
            <input type="radio" name="product-rating" value="5" id="product-rating_5">
            <label for="product-rating_5"></label>

            <input type="radio" name="product-rating" value="4" id="product-rating_4">
            <label for="product-rating_4"></label>

            <input type="radio" name="product-rating" value="3" id="product-rating_3">
            <label for="product-rating_3"></label>

            <input type="radio" name="product-rating" value="2" id="product-rating_2">
            <label for="product-rating_2"></label>

            <input type="radio" name="product-rating" value="1" id="product-rating_1">
            <label for="product-rating_1"></label>
        </div>
        <label for="review-text">Напишите свои впечатления от сделки</label>
        <textarea id="review-text"></textarea>
        <input type="submit" value="Отправить" class="button">
    </form>
</div>
    <script src="../../static/js/ad-carousel.js"></script>
    <script src="../../static/js/profile-ads-category.js"></script>
    <script src="../../static/js/chat.js"></script>
    <script src="../../static/js/review.js"></script>
</body>
</html>