<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/preorder.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header class="header">
    <div class="services">
        <div class="container services__container">
            <div class="services__item">
                <img src="../../static/assets/safety.svg" alt="Иконка безопасной сделки" class="services__icon">
                <span>Безопасная сделка</span>
            </div>
            <div class="services__item">
                <img src="../../static/assets/delivery.svg" alt="Иконка доставки" class="services__icon">
                <span>Бесплатная доставка</span>
            </div>
            <div class="services__item">
                <img src="../../static/assets/scan.svg" alt="Иконка экспертизы" class="services__icon">
                <span>Экспертиза на подлинность</span>
            </div>
        </div>
    </div>
    <div class="header-base__line">
        <div class="container header__base">
            <form class="header__search">
                <div class="search__field">
                    <label for="header-search">
                        <img src="../../static/assets/search.svg" alt="Иконка поиска" class="search__icon">
                    </label>
                    <input class="search__input" type="search" id="header-search" placeholder="Поиск по товарам">
                </div>
                <input class="search__button button" type="submit" value="Найти">
            </form>
            <div class="header__logo">
                <img src="../../static/assets/droux-logo.svg" alt="Логотип Droux">
            </div>
            <div class="header__buttons">
                <a href="" class="button sell__button">Продать</a>
                <img src="../../static/assets/chat.svg" alt="Иконка чата" class="buttons__icon">
                <img src="../../static/assets/favourite.svg" alt="Иконка избранного" class="buttons__icon">
                <span>Войти</span>
            </div>
        </div>
    </div>
    <div class="header-nav__line">
        <nav class="header__nav">
            <a href="">ВЫБОР DROUX</a>
            <a href="">НОВИНКИ</a>
            <a href="">БРЕНДЫ</a>
            <a href="">ОДЕЖДА</a>
            <a href="">ОБУВЬ</a>
            <a href="">СУМКИ</a>
            <a href="">АКСЕССУАРЫ</a>
        </nav>
    </div>
</header>
    <main class="preorder">
        <div class="preorder__top">
            <img src="../../static/assets/preorder-picture.png" alt="" class="preorder__img">
            <h1 class="container preorder__header">10 новых трендов этой весны</h1>
        </div>
        <div class="preorder__content container">
            <article class="preorder__article">
                <h2 class="preorder__title">Заголовок</h2>
                <p class="preorder__paragraph">Итальянский техно-гуру Donato Dozzy известен манерой творить музыку ломая жанровые устои, оставаясь при этом максимально лаконичным.</p>
                <p class="preorder__paragraph">"Cleo" с первых секунд навязывает атмосферу безмятежности, словно смотришь на техно танцпол с самой высокой точки. Эйфория накрывает не сразу: сначала из свинцовых басовых линий поднимается в воздух магический синт, затем акцент смещается в сторону потустороннего голоса, отдающемся эхом.</p>
            </article>
            <div class="preorder__row_first preorder__row">
                <div class="preorder__item preorder-item">
                    <a href="" class="preorder-item__photo-link">
                        <img src="../../static/assets/preorder-ad-img.jpg" class="preorder-item__photo" alt="">
                    </a>
                    <a href="" class="preorder-item__link">
                        <h3 class="preorder-item__title">Supreme x Comme des Garcons Leather Jacket</h3>
                    </a>
                    <div class="preorder-item__description">
                        Довольно-таки редкий айтем из последнего коллаба CDG x Supreme. Классические косухи отошли на второй план в этом сезоне. Однако в такой невозможно остаться незамеченным.
                    </div>
                    <a href="" class="button preorder-item__button">Купить</a>
                </div>
                <div class="preorder__item preorder-item">
                    <a href="" class="preorder-item__photo-link">
                        <img src="../../static/assets/preorder-ad-img.jpg" class="preorder-item__photo" alt="">
                    </a>
                    <a href="" class="preorder-item__link">
                        <h3 class="preorder-item__title">Supreme x Comme des Garcons Leather Jacket</h3>
                    </a>
                    <div class="preorder-item__description">
                        Довольно-таки редкий айтем из последнего коллаба CDG x Supreme. Классические косухи отошли на второй план в этом сезоне. Однако в такой невозможно остаться незамеченным.
                    </div>
                    <a href="" class="button preorder-item__button">Купить</a>
                </div>
                <div class="preorder__item preorder-item">
                    <a href="" class="preorder-item__photo-link">
                        <img src="../../static/assets/preorder-ad-img.jpg" class="preorder-item__photo" alt="">
                    </a>
                    <a href="" class="preorder-item__link">
                        <h3 class="preorder-item__title">Supreme x Comme des Garcons Leather Jacket</h3>
                    </a>
                    <div class="preorder-item__description">
                        Довольно-таки редкий айтем из последнего коллаба CDG x Supreme. Классические косухи отошли на второй план в этом сезоне. Однако в такой невозможно остаться незамеченным.
                    </div>
                    <a href="" class="button preorder-item__button">Купить</a>
                </div>
                <div class="preorder__item preorder-item">
                    <a href="" class="preorder-item__photo-link">
                        <img src="../../static/assets/preorder-ad-img.jpg" class="preorder-item__photo" alt="">
                    </a>
                    <a href="" class="preorder-item__link">
                        <h3 class="preorder-item__title">Supreme x Comme des Garcons Leather Jacket</h3>
                    </a>
                    <div class="preorder-item__description">
                        Довольно-таки редкий айтем из последнего коллаба CDG x Supreme. Классические косухи отошли на второй план в этом сезоне. Однако в такой невозможно остаться незамеченным.
                    </div>
                    <a href="" class="button preorder-item__button">Купить</a>
                </div>
            </div>
            <div class="preorder__row_second preorder__row">
                <div class="preorder__item preorder-item">
                    <a href="" class="preorder-item__photo-link">
                        <img src="../../static/assets/preorder-ad-img.jpg" class="preorder-item__photo" alt="">
                    </a>
                    <a href="" class="preorder-item__link">
                        <h3 class="preorder-item__title">Supreme x Comme des Garcons Leather Jacket</h3>
                    </a>
                    <div class="preorder-item__description">
                        Довольно-таки редкий айтем из последнего коллаба CDG x Supreme. Классические косухи отошли на второй план в этом сезоне. Однако в такой невозможно остаться незамеченным.
                    </div>
                    <a href="" class="button preorder-item__button">Купить</a>
                </div>
                <div class="preorder__item preorder-item">
                    <a href="" class="preorder-item__photo-link">
                        <img src="../../static/assets/preorder-ad-img.jpg" class="preorder-item__photo" alt="">
                    </a>
                    <a href="" class="preorder-item__link">
                        <h3 class="preorder-item__title">Supreme x Comme des Garcons Leather Jacket</h3>
                    </a>
                    <div class="preorder-item__description">
                        Довольно-таки редкий айтем из последнего коллаба CDG x Supreme. Классические косухи отошли на второй план в этом сезоне. Однако в такой невозможно остаться незамеченным.
                    </div>
                    <a href="" class="button preorder-item__button">Купить</a>
                </div>
                <div class="preorder__item preorder-item">
                    <a href="" class="preorder-item__photo-link">
                        <img src="../../static/assets/preorder-ad-img.jpg" class="preorder-item__photo" alt="">
                    </a>
                    <a href="" class="preorder-item__link">
                        <h3 class="preorder-item__title">Supreme x Comme des Garcons Leather Jacket</h3>
                    </a>
                    <div class="preorder-item__description">
                        Довольно-таки редкий айтем из последнего коллаба CDG x Supreme. Классические косухи отошли на второй план в этом сезоне. Однако в такой невозможно остаться незамеченным.
                    </div>
                    <a href="" class="button preorder-item__button">Купить</a>
                </div>
                <div class="preorder__item preorder-item">
                    <a href="" class="preorder-item__photo-link">
                        <img src="../../static/assets/preorder-ad-img.jpg" class="preorder-item__photo" alt="">
                    </a>
                    <a href="" class="preorder-item__link">
                        <h3 class="preorder-item__title">Supreme x Comme des Garcons Leather Jacket</h3>
                    </a>
                    <div class="preorder-item__description">
                        Довольно-таки редкий айтем из последнего коллаба CDG x Supreme. Классические косухи отошли на второй план в этом сезоне. Однако в такой невозможно остаться незамеченным.
                    </div>
                    <a href="" class="button preorder-item__button">Купить</a>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container footer__container">
            <div class="footer__column footer__column_first">
                <a href="" class="footer__link footer__link_46">Пользовательское соглашение</a>
                <a href="" class="footer__link footer__link_46">Безопасная сделка</a>
                <a href="">Помощь и поддержка</a>
                <a href="">Критерии отбора публикаций</a>
            </div>
            <div class="footer__column footer__column_second">
                <a href="" class="footer__link footer__link_46">Политика конфиденциальности</a>
                <a href="" class="footer__link footer__link_46">Правила безопасной сделки</a>
                <a href="">FAQ</a>
            </div>
            <div class="footer__column footer__column_third">
                <a href="" class="footer__link footer__link_46">Правила оказания услуг</a>
                <a href="" class="footer__link footer__link_46">Контакты</a>
                <a href="">Новости</a>
            </div>
            <div class="footer__column footer__column_fourth">
                <div class="footer__media-links-div">
                    <span>Мы в соц. сетях</span>
                    <div class="footer__media-links">
                        <a href=""><img src="../../static/assets/youtube.svg" alt="Иконка YouTube" class="media-links__icon"></a>
                        <a href=""><img src="../../static/assets/vk.svg" alt="Иконка VK" class="media-links__icon"></a>
                        <a href=""><img src="../../static/assets/facebook.svg" alt="Иконка Facebook" class="media-links__icon"></a>
                        <a href=""><img src="../../static/assets/instagram.svg" alt="Иконка Instagram" class="media-links__icon"></a>
                        <a href=""><img src="../../static/assets/telegram.svg" alt="Иконка Telegram" class="media-links__icon"></a>
                    </div>
                </div>
                <span>Подписка на новости</span>
                <label class="subscribe__text" for="footer-subscribe">Получайте все самые последние новости о мероприятиях.</label>
                <form class="subscribe">
                    <input type="text" class="subscribe__field" id="footer-subscribe">
                    <input type="submit" value="" class="button subscribe__button">
                </form>
            </div>
        </div>
    </footer>
</body>
</html>