<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/ad.css">
    <link rel="stylesheet" href="../../static/css/search.css">
    <link rel="stylesheet" href="../../static/css/filters.css">
<!--    <link rel="stylesheet" href="filters.css">-->
</head>
<body>
    <div class="header__user-actions-layout">
        <div class="container">
            <div class="header__user-actions">
                <a href="">Мои объявления</a>
                <a href="">Избранное</a>
                <a href="">Мои покупки</a>
                <a href="">Мои продажи</a>
                <a href="">Настройки</a>
                <a href="">Выйти</a>
            </div>
        </div>
    </div>
    <div class="dropdown__layout"></div>
    <header class="header">
        <div class="services">
            <div class="container services__container">
                <div class="services__item">
                    <img src="../../static/assets/safety.svg" alt="Иконка безопасной сделки" class="services__icon">
                    <span>Безопасная сделка</span>
                </div>
                <div class="services__item">
                    <img src="../../static/assets/delivery.svg" alt="Иконка доставки" class="services__icon">
                    <span>Бесплатная доставка</span>
                </div>
                <div class="services__item">
                    <img src="../../static/assets/scan.svg" alt="Иконка экспертизы" class="services__icon">
                    <span>Экспертиза на подлинность</span>
                </div>
            </div>
        </div>
        <div class="header-base__line">
            <div class="container header__base">
                <form class="header__search">
                    <div class="search__field">
                        <label for="header-search">
                            <img src="../../static/assets/search.svg" alt="Иконка поиска" class="search__icon">
                        </label>
                        <input class="search__input" type="search" id="header-search" placeholder="Поиск по товарам">
                    </div>
                    <input class="search__button button" type="submit" value="Найти">
                </form>
                <div class="header__logo">
                    <img src="../../static/assets/droux-logo.svg" alt="Логотип Droux">
                </div>
                <div class="header__buttons">
                    <a href="" class="button sell__button">Продать</a>
                    <img src="../../static/assets/chat.svg" alt="Иконка чата" class="buttons__icon">
                    <img src="../../static/assets/favourite.svg" alt="Иконка избранного" class="buttons__icon">
                    <span style="display: none;">Войти</span><img src="../../static/assets/male.jpg" alt="" class="header__user-photo">
                </div>
            </div>
        </div>
        <div class="header-nav__line">
            <nav class="header__nav">
                <a href="" class="dropdown__button_to-hide">ВЫБОР DROUX</a>
                <a href="" class="dropdown__button_to-hide">НОВИНКИ</a>
                <a href="" class="dropdown__button">БРЕНДЫ</a>
                <a href="" class="dropdown__button">ОДЕЖДА</a>
                <a href="" class="dropdown__button">ОБУВЬ</a>
                <a href="" class="dropdown__button">СУМКИ</a>
                <a href="" class="dropdown__button">АКСЕССУАРЫ</a>
            </nav>
        </div>
        <div class="header__dropdown dropdown">
            <div class="dropdown__border-for-brands dropdown__border">
                <h2 class="dropdown__header">Наш выбор</h2>
                <div class="dropdown__content container dropdown__content_brands">
                    <div class="dropdown__letter">
                        <a href="" class="dropdown__link">Adidas</a>
                        <a href="" class="dropdown__link">Alexander McQueen</a>
                        <a href="" class="dropdown__link">Alexander Wang</a>
                    </div>
                    <div class="dropdown__letter">
                        <a href="" class="dropdown__link">Balenciaga</a>
                        <a href="" class="dropdown__link">Bape</a>
                        <a href="" class="dropdown__link">Burberry</a>
                    </div>
                    <div class="dropdown__letter">
                        <a href="" class="dropdown__link">Cartier</a>
                        <a href="" class="dropdown__link">Comme De Garçons</a>
                    </div>
                    <div class="dropdown__letter dropdown__letter_last">
                        <a href="" class="dropdown__link">Dior</a>
                        <a href="" class="dropdown__link">Dolce & Gabbana</a>
                    </div>
                    <div class="dropdown__letter">
                        <a href="" class="dropdown__link">Fear of God</a>
                    </div>
                    <div class="dropdown__letter">
                        <a href="" class="dropdown__link">Givenci</a>
                        <a href="" class="dropdown__link">Gucci</a>
                    </div>
                    <div class="dropdown__letter">
                        <a href="" class="dropdown__link">Lanvin</a>
                        <a href="" class="dropdown__link">Louis Vuitton</a>
                    </div>
                    <div class="dropdown__letter">
                        <a href="" class="dropdown__link">Max Mara</a>
                    </div>
                    <div class="dropdown__letter">
                        <a href="" class="dropdown__link">Nike</a>
                    </div>
                    <div class="dropdown__letter dropdown__letter_last">
                        <a href="" class="dropdown__link">Off-white</a>
                    </div>
                    <div class="dropdown__letter">
                        <a href="" class="dropdown__link">RAF Simons</a>
                        <a href="" class="dropdown__link">Rolex</a>
                    </div>
                    <div class="dropdown__letter">
                        <a href="" class="dropdown__link">Saint Laurent</a>
                        <a href="" class="dropdown__link">Stone Island</a>
                        <a href="" class="dropdown__link">Supreme</a>
                    </div>
                    <div class="dropdown__letter">
                        <a href="" class="dropdown__link">Valentino</a>
                        <a href="" class="dropdown__link">Versache</a>
                    </div>
                    <a href="" class="dropdown__all-brands">Все бренды</a>
                </div>
            </div>
            <div class="dropdown__border">
                <div class="dropdown__content container">
                    <a href="" class="dropdown__link">ЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫ</a>
                    <a href="" class="dropdown__link">ЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫ</a>
                    <a href="" class="dropdown__link">ЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫ</a>
                    <a href="" class="dropdown__link">ЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫЫ</a>
                </div>
            </div>
            <div class="dropdown__border">
                <div class="dropdown__content container">
                    <a href="" class="dropdown__link">ААААААААААААААААААААААААА</a>
                    <a href="" class="dropdown__link">АААААААААААААААААААААААААА</a>
                    <a href="" class="dropdown__link">АААААААААААААААААААААААААААА</a>
                    <a href="" class="dropdown__link">АААААААААААААААААААААААААААААААААа</a>
                </div>
            </div>
            <div class="dropdown__border">
                <div class="dropdown__content container">
                    <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИИИИ</a>
                    <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИИИИИИ</a>
                    <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИ</a>
                    <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИИИИИИ</a>
                    <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИИИИ</a>
                    <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИИИИИИ</a>
                    <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИ</a>
                    <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИИИИИИ</a>
                    <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИИИИ</a>
                    <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИИИИИИ</a>
                    <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИ</a>
                    <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИИИИИИ</a>
                    <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИИИИ</a>
                    <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИИИИИИ</a>
                    <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИ</a>
                    <a href="" class="dropdown__link">ИИИИИИИИИИИИИИИИИИИИИИИИИ</a>
                </div>
            </div>
            <div class="dropdown__border">
                <div class="dropdown__content container">
                    <a href="" class="dropdown__link">Хуй</a>
                    <a href="" class="dropdown__link">Хуй</a>
                    <a href="" class="dropdown__link">Жопа</a>
                    <a href="" class="dropdown__link">Пидор</a>
                </div>
            </div>
        </div>
    </header>

    <main class="container main ">
        <div class="sort-by">
            <span>Сортировать:</span>
            <input type="radio" class="sort-by__variant" name="sort-by" id="date" checked>
            <label for="date">по дате</label>
            <input type="radio" class="sort-by__variant" name="sort-by" id="price-up">
            <label for="price-up">по возрастанию цены</label>
            <input type="radio" class="sort-by__variant" name="sort-by" id="price-down">
            <label for="price-down">по убыванию цены</label>
            <input type="radio" class="sort-by__variant" name="sort-by" id="popularity">
            <label for="popularity">по популярности</label>
            <label for="date" class="sort-by__discard">Сбросить</label>
        </div>
        <div class="filters__layout">
            <aside class="filters">

                <div class="filters__sector filters__sector_sex">
                    <div class="filters__sector-header">
                        <span>Категории</span>
                        <img src="../../static/assets/arrow-hide.svg" alt="Иконка скрытия раздела фильтров">
                    </div>
                    <div class="filters__must-be-hidden">
                        <form class="filters__sector-options">
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="men" id="men">
                                <label for="men">Мужчины</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="women" id="women">
                                <label for="women">Женщины</label>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="filters__sector filters__sector_category">
                    <div class="filters__sector-header">
                        <span>Категория</span>
                        <img src="../../static/assets/arrow-hide.svg" alt="Иконка скрытия раздела фильтров">
                    </div>
                    <div class="filters__must-be-hidden">
                        <form class="filters__sector-options">
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="clothing" id="clothing">
                                <label for="clothing">Одежда</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="footwear" id="footwear">
                                <label for="footwear">Обувь</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="outwear" id="outwear">
                                <label for="outwear">Верхняя одежда</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="accessories" id="accessories">
                                <label for="accessories">Аксессуары</label>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="filters__sector filters__sector_type">
                    <div class="filters__sector-header">
                        <span>Вид</span>
                        <img src="../../static/assets/arrow-hide.svg" alt="Иконка скрытия раздела фильтров">
                    </div>
                    <div class="filters__must-be-hidden">
                        <form class="filters__sector-options">
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="bodies" id="bodies">
                                <label for="bodies">Боди</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="trousers" id="trousers">
                                <label for="trousers">Брюки</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="type_outwear" id="type_outwear">
                                <label for="type_outwear">Верхняя одежда</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="turtlenecks" id="turtlenecks">
                                <label for="turtlenecks">Водолазки</label>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="filters__sector filters__sector_brand">
                    <div class="filters__sector-header">
                        <span>Бренды</span>
                        <img src="../../static/assets/arrow-hide.svg" alt="Иконка скрытия раздела фильтров">
                    </div>
                    <div class="filters__must-be-hidden">
                        <input type="text" placeholder="Искать" class="filters__search-field">
                        <form class="filters__sector-options">
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="adidas" id="adidas">
                                <label for="adidas">ADIDAS</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="asicks" id="asicks">
                                <label for="asicks">ASICKS</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="armani" id="armani">
                                <label for="armani">ARMANI</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="bordur" id="bordur">
                                <label for="bordur">BORDUR</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="chingchong" id="chingchong">
                                <label for="chingchong">CHINGCHONG</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="dandy" id="dandy">
                                <label for="dandy">DANDY</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="ernie-ball" id="ernie-ball">
                                <label for="ernie-ball">ERNIE BALL</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="fuck-this" id="fuck-this">
                                <label for="fuck-this">FUCK THIS</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="gender-2" id="gender-2">
                                <label for="gender-2">GENDER 2</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="howdy-hu" id="howdy-hu">
                                <label for="howdy-hu">HOWDY HU</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="iiiiiiiii" id="iiiiiiiii">
                                <label for="iiiiiiiii">IIIIIIIII</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="jojo" id="jojo">
                                <label for="jojo">JOJO</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="kkk" id="kkk">
                                <label for="kkk">KKK</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="louis-vuitton" id="louis-vuitton">
                                <label for="louis-vuitton">LOUIS VUITTON</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="mother-of-yours" id="mother-of-yours">
                                <label for="mother-of-yours">MOTHER OF YOURS</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="n*gger" id="n*gger">
                                <label for="n*gger">N*GGER</label>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="filters__sector filters__sector_size">
                    <div class="filters__sector-header">
                        <span>Размер</span>
                        <img src="../../static/assets/arrow-hide.svg" alt="Иконка скрытия раздела фильтров">
                    </div>
                    <div class="filters__must-be-hidden">
                        <input type="text" placeholder="Искать" class="filters__search-field">
                        <form class="filters__sector-options">
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="1" id="1">
                                <label for="1">1</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="2" id="2">
                                <label for="2">2</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="3" id="3">
                                <label for="3">3</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="4" id="4">
                                <label for="4">4</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="5" id="5">
                                <label for="5">5</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="6" id="6">
                                <label for="6">6</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="7" id="7">
                                <label for="7">7</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="8" id="8">
                                <label for="8">8</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="10" id="10">
                                <label for="10">10</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="11" id="11">
                                <label for="11">11</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="12" id="12">
                                <label for="12">12</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="13" id="13">
                                <label for="13">13</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="14" id="14">
                                <label for="14">14</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="15" id="15">
                                <label for="15">15</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="16" id="16">
                                <label for="16">16</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="17" id="17">
                                <label for="17">17</label>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="filters__sector filters__sector_condition">
                    <div class="filters__sector-header">
                        <span>Состояние</span>
                        <img src="../../static/assets/arrow-hide.svg" alt="Иконка скрытия раздела фильтров">
                    </div>
                    <div class="filters__must-be-hidden">
                        <form class="filters__sector-options">
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="new-with-tag" id="new-with-tag">
                                <label for="new-with-tag">Новое с биркой</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="new-no-tag" id="new-no-tag">
                                <label for="new-no-tag">Новое без бирки</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="wore-once" id="wore-once">
                                <label for="wore-once">Надевалось один раз</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="wore" id="wore">
                                <label for="wore">Надевалось несколько раз</label>
                            </div>
                            <div class="filters__checkbox-div">
                                <input type="checkbox" value="has-defects" id="has-defects">
                                <label for="has-defects">Есть дефекты</label>
                            </div>
                        </form>
                    </div>
                </div>
            </aside>
        </div>
        <div class="search-results">

            <div class="ad"> <!--Объявление целиком-->
                <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                    <div class="ad__arrow ad__arrow_left">
                        <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                    </div>
                    <div class="ad__all-images"> <!--Все фото в линию-->
                        <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                    </div>
                    <div class="ad__arrow ad__arrow_right">
                        <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                    </div>
                    <div class="ad__favourite-icon">
                        <img src="../../static/assets/favourite.svg" alt="Иконка избранного" class="ad__favourite-icon-img_empty">
                        <img src="../../static/assets/favourite-filled.svg" class="ad__favourite-icon-img_filled fav-icon_active">
                    </div>
                </div>
                <div class="ad__name-and-size">
                    <h3 class="ad__name">Мужчина</h3>
                    <span class="ad__size">49.5 EUR</span>
                </div>
                <div class="ad__category">Человеки</div>
                <div class="ad__price">69 000 руб.</div>
            </div>


            <div class="part__ad ad"> <!--Объявление целиком-->
                <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                    <div class="ad__arrow ad__arrow_left">
                        <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                    </div>
                    <div class="ad__all-images"> <!--Все фото в линию-->
                        <img src="../../static/assets/female.jpg" alt="" class="ad__img">
                    </div>
                    <div class="ad__arrow ad__arrow_right">
                        <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                    </div>
                    <div class="ad__favourite-icon">
                        <img src="../../static/assets/favourite.svg" alt="Иконка избранного" class="ad__favourite-icon-img_empty">
                        <img src="../../static/assets/favourite-filled.svg" class="ad__favourite-icon-img_filled fav-icon_active">
                    </div>
                </div>
                <div class="ad__name-and-size">
                    <h3 class="ad__name">Женщина</h3>
                    <span class="ad__size">49.5 EUR</span>
                </div>
                <div class="ad__category">Людыны</div>
                <div class="ad__price">69 000 руб.</div>
            </div>


            <div class="ad"> <!--Объявление целиком-->
                <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                    <div class="ad__arrow ad__arrow_left">
                        <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                    </div>
                    <div class="ad__all-images"> <!--Все фото в линию-->
                        <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                    </div>
                    <div class="ad__arrow ad__arrow_right">
                        <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                    </div>
                    <div class="ad__favourite-icon">
                        <img src="../../static/assets/favourite.svg" alt="Иконка избранного" class="ad__favourite-icon-img_empty">
                        <img src="../../static/assets/favourite-filled.svg" class="ad__favourite-icon-img_filled fav-icon_active">
                    </div>
                </div>
                <div class="ad__name-and-size">
                    <h3 class="ad__name">Мужчина</h3>
                    <span class="ad__size">49.5 EUR</span>
                </div>
                <div class="ad__category">Человеки</div>
                <div class="ad__price">69 000 руб.</div>
            </div>


            <div class="part__ad ad"> <!--Объявление целиком-->
                <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                    <div class="ad__arrow ad__arrow_left">
                        <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                    </div>
                    <div class="ad__all-images"> <!--Все фото в линию-->
                        <img src="../../static/assets/female.jpg" alt="" class="ad__img">
                    </div>
                    <div class="ad__arrow ad__arrow_right">
                        <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                    </div>
                    <div class="ad__favourite-icon">
                        <img src="../../static/assets/favourite.svg" alt="Иконка избранного" class="ad__favourite-icon-img_empty">
                        <img src="../../static/assets/favourite-filled.svg" class="ad__favourite-icon-img_filled fav-icon_active">
                    </div>
                </div>
                <div class="ad__name-and-size">
                    <h3 class="ad__name">Женщина</h3>
                    <span class="ad__size">49.5 EUR</span>
                </div>
                <div class="ad__category">Людыны</div>
                <div class="ad__price">69 000 руб.</div>
            </div>


            <div class="ad"> <!--Объявление целиком-->
                <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                    <div class="ad__arrow ad__arrow_left">
                        <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                    </div>
                    <div class="ad__all-images"> <!--Все фото в линию-->
                        <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                    </div>
                    <div class="ad__arrow ad__arrow_right">
                        <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                    </div>
                    <div class="ad__favourite-icon">
                        <img src="../../static/assets/favourite.svg" alt="Иконка избранного" class="ad__favourite-icon-img_empty">
                        <img src="../../static/assets/favourite-filled.svg" class="ad__favourite-icon-img_filled fav-icon_active">
                    </div>
                </div>
                <div class="ad__name-and-size">
                    <h3 class="ad__name">Мужчина</h3>
                    <span class="ad__size">49.5 EUR</span>
                </div>
                <div class="ad__category">Человеки</div>
                <div class="ad__price">69 000 руб.</div>
            </div>


            <div class="part__ad ad"> <!--Объявление целиком-->
                <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                    <div class="ad__arrow ad__arrow_left">
                        <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                    </div>
                    <div class="ad__all-images"> <!--Все фото в линию-->
                        <img src="../../static/assets/female.jpg" alt="" class="ad__img">
                    </div>
                    <div class="ad__arrow ad__arrow_right">
                        <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                    </div>
                    <div class="ad__favourite-icon">
                        <img src="../../static/assets/favourite.svg" alt="Иконка избранного" class="ad__favourite-icon-img_empty">
                        <img src="../../static/assets/favourite-filled.svg" class="ad__favourite-icon-img_filled fav-icon_active">
                    </div>
                </div>
                <div class="ad__name-and-size">
                    <h3 class="ad__name">Женщина</h3>
                    <span class="ad__size">49.5 EUR</span>
                </div>
                <div class="ad__category">Людыны</div>
                <div class="ad__price">69 000 руб.</div>
            </div>


            <div class="ad"> <!--Объявление целиком-->
                <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                    <div class="ad__arrow ad__arrow_left">
                        <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                    </div>
                    <div class="ad__all-images"> <!--Все фото в линию-->
                        <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                    </div>
                    <div class="ad__arrow ad__arrow_right">
                        <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                    </div>
                    <div class="ad__favourite-icon">
                        <img src="../../static/assets/favourite.svg" alt="Иконка избранного" class="ad__favourite-icon-img_empty">
                        <img src="../../static/assets/favourite-filled.svg" class="ad__favourite-icon-img_filled fav-icon_active">
                    </div>
                </div>
                <div class="ad__name-and-size">
                    <h3 class="ad__name">Мужчина</h3>
                    <span class="ad__size">49.5 EUR</span>
                </div>
                <div class="ad__category">Человеки</div>
                <div class="ad__price">69 000 руб.</div>
            </div>


            <div class="part__ad ad"> <!--Объявление целиком-->
                <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                    <div class="ad__arrow ad__arrow_left">
                        <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                    </div>
                    <div class="ad__all-images"> <!--Все фото в линию-->
                        <img src="../../static/assets/female.jpg" alt="" class="ad__img">
                    </div>
                    <div class="ad__arrow ad__arrow_right">
                        <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                    </div>
                    <div class="ad__favourite-icon">
                        <img src="../../static/assets/favourite.svg" alt="Иконка избранного" class="ad__favourite-icon-img_empty">
                        <img src="../../static/assets/favourite-filled.svg" class="ad__favourite-icon-img_filled fav-icon_active">
                    </div>
                </div>
                <div class="ad__name-and-size">
                    <h3 class="ad__name">Женщина</h3>
                    <span class="ad__size">49.5 EUR</span>
                </div>
                <div class="ad__category">Людыны</div>
                <div class="ad__price">69 000 руб.</div>
            </div>


            <div class="ad"> <!--Объявление целиком-->
                <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                    <div class="ad__arrow ad__arrow_left">
                        <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                    </div>
                    <div class="ad__all-images"> <!--Все фото в линию-->
                        <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                    </div>
                    <div class="ad__arrow ad__arrow_right">
                        <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                    </div>
                    <div class="ad__favourite-icon">
                        <img src="../../static/assets/favourite.svg" alt="Иконка избранного" class="ad__favourite-icon-img_empty">
                        <img src="../../static/assets/favourite-filled.svg" class="ad__favourite-icon-img_filled fav-icon_active">
                    </div>
                </div>
                <div class="ad__name-and-size">
                    <h3 class="ad__name">Мужчина</h3>
                    <span class="ad__size">49.5 EUR</span>
                </div>
                <div class="ad__category">Человеки</div>
                <div class="ad__price">69 000 руб.</div>
            </div>


            <div class="part__ad ad"> <!--Объявление целиком-->
                <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                    <div class="ad__arrow ad__arrow_left">
                        <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                    </div>
                    <div class="ad__all-images"> <!--Все фото в линию-->
                        <img src="../../static/assets/female.jpg" alt="" class="ad__img">
                    </div>
                    <div class="ad__arrow ad__arrow_right">
                        <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                    </div>
                    <div class="ad__favourite-icon">
                        <img src="../../static/assets/favourite.svg" alt="Иконка избранного">
                    </div>
                </div>
                <div class="ad__name-and-size">
                    <h3 class="ad__name">Женщина</h3>
                    <span class="ad__size">49.5 EUR</span>
                </div>
                <div class="ad__category">Людыны</div>
                <div class="ad__price">69 000 руб.</div>
            </div>


            <div class="ad"> <!--Объявление целиком-->
                <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                    <div class="ad__arrow ad__arrow_left">
                        <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                    </div>
                    <div class="ad__all-images"> <!--Все фото в линию-->
                        <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                    </div>
                    <div class="ad__arrow ad__arrow_right">
                        <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                    </div>
                    <div class="ad__favourite-icon">
                        <img src="../../static/assets/favourite.svg" alt="Иконка избранного">
                    </div>
                </div>
                <div class="ad__name-and-size">
                    <h3 class="ad__name">Мужчина</h3>
                    <span class="ad__size">49.5 EUR</span>
                </div>
                <div class="ad__category">Человеки</div>
                <div class="ad__price">69 000 руб.</div>
            </div>


            <div class="part__ad ad"> <!--Объявление целиком-->
                <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                    <div class="ad__arrow ad__arrow_left">
                        <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                    </div>
                    <div class="ad__all-images"> <!--Все фото в линию-->
                        <img src="../../static/assets/female.jpg" alt="" class="ad__img">
                    </div>
                    <div class="ad__arrow ad__arrow_right">
                        <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                    </div>
                    <div class="ad__favourite-icon">
                        <img src="../../static/assets/favourite.svg" alt="Иконка избранного">
                    </div>
                </div>
                <div class="ad__name-and-size">
                    <h3 class="ad__name">Женщина</h3>
                    <span class="ad__size">49.5 EUR</span>
                </div>
                <div class="ad__category">Людыны</div>
                <div class="ad__price">69 000 руб.</div>
            </div>


            <div class="ad"> <!--Объявление целиком-->
                <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                    <div class="ad__arrow ad__arrow_left">
                        <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                    </div>
                    <div class="ad__all-images"> <!--Все фото в линию-->
                        <img src="../../static/assets/male.jpg" alt="" class="ad__img">
                    </div>
                    <div class="ad__arrow ad__arrow_right">
                        <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                    </div>
                    <div class="ad__favourite-icon">
                        <img src="../../static/assets/favourite.svg" alt="Иконка избранного">
                    </div>
                </div>
                <div class="ad__name-and-size">
                    <h3 class="ad__name">Мужчина</h3>
                    <span class="ad__size">49.5 EUR</span>
                </div>
                <div class="ad__category">Человеки</div>
                <div class="ad__price">69 000 руб.</div>
            </div>


            <div class="part__ad ad"> <!--Объявление целиком-->
                <div class="ad__img-container"> <!--Рамка для одной фотографии-->
                    <div class="ad__arrow ad__arrow_left">
                        <img src="../../static/assets/arrow-left.svg" alt="Стрелка просмотра предыдущего фото">
                    </div>
                    <div class="ad__all-images"> <!--Все фото в линию-->
                        <img src="../../static/assets/female.jpg" alt="" class="ad__img">
                        <img src="../../static/assets/female.jpg" alt="" class="ad__img">
                        <img src="../../static/assets/female.jpg" alt="" class="ad__img">
                    </div>
                    <div class="ad__arrow ad__arrow_right">
                        <img src="../../static/assets/arrow-right.svg" alt="Стрелка просмотра слюдующего фото">
                    </div>
                    <div class="ad__favourite-icon">
                        <img src="../../static/assets/favourite.svg" alt="Иконка избранного">
                    </div>
                </div>
                <div class="ad__name-and-size">
                    <h3 class="ad__name">Женщина</h3>
                    <span class="ad__size">49.5 EUR</span>
                </div>
                <div class="ad__category">Людыны</div>
                <div class="ad__price">69 000 руб.</div>
            </div>

        </div>

    </main>
    <footer class="footer">
        <div class="container footer__container">
            <div class="footer__column footer__column_first">
                <a href="" class="footer__link footer__link_46">Пользовательское соглашение</a>
                <a href="" class="footer__link footer__link_46">Безопасная сделка</a>
                <a href="">Помощь и поддержка</a>
                <a href="">Критерии отбора публикаций</a>
            </div>
            <div class="footer__column footer__column_second">
                <a href="" class="footer__link footer__link_46">Политика конфиденциальности</a>
                <a href="" class="footer__link footer__link_46">Правила безопасной сделки</a>
                <a href="">FAQ</a>
            </div>
            <div class="footer__column footer__column_third">
                <a href="" class="footer__link footer__link_46">Правила оказания услуг</a>
                <a href="" class="footer__link footer__link_46">Контакты</a>
                <a href="">Новости</a>
            </div>
            <div class="footer__column footer__column_fourth">
                <span>Мы в соц. сетях</span>
                <div class="footer__media-links">
                    <a href=""><img src="../../static/assets/youtube.svg" alt="Иконка YouTube" class="media-links__icon"></a>
                    <a href=""><img src="../../static/assets/vk.svg" alt="Иконка VK" class="media-links__icon"></a>
                    <a href=""><img src="../../static/assets/facebook.svg" alt="Иконка Facebook" class="media-links__icon"></a>
                    <a href=""><img src="../../static/assets/instagram.svg" alt="Иконка Instagram" class="media-links__icon"></a>
                    <a href=""><img src="../../static/assets/telegram.svg" alt="Иконка Telegram" class="media-links__icon"></a>
                </div>
                <span>Подписка на новости</span>
                <label class="subscribe__text" for="footer-subscribe">Получайте все самые последние новости о мероприятиях.</label>
                <form class="subscribe">
                    <input type="text" class="subscribe__field" id="footer-subscribe">
                    <input type="submit" value="" class="button subscribe__button">
                </form>
            </div>
        </div>
    </footer>
    <script src="../../static/js/ad-carousel.js"></script>
    <script src="../../static/js/hide-sector.js"></script>
    <script src="../../static/js/search-filter.js"></script>
    <script src="../../static/js/ads-upload.js"></script>
    <script src="../../static/js/auth.js"></script>
    <script src="../../static/js/favourite.js"></script>
    <script src="../../static/js/dropdown.js"></script>
</body>
</html>