.filters {
    user-select: none;
    display:flex;
    flex-direction: column;
    width: 255px;
    padding-right: 33px;
    padding-top: 12px;
    font-size: 14px;
}

.filters__sector {
    padding: 20px 0;
    border-top: 1px solid #a9a9a9;
}

.filters__sector-options {
    display:flex;
    flex-direction: column;
    max-height: 220px;
    overflow: auto;
}

.filters__sector:last-child {
    border-bottom: 1px solid #a9a9a9;
}

.filters__sector-header {
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.filters__sector-header img {
    display: block;
    width: 10px;
    height: 5px;
    transition: transform 0.2s;
}

.filters input[type=text] {
    width: 100%;
    height: 30px;
    padding-left: 8px;
    font-size: 14px;
    margin-bottom: 20px;
    outline: 0;
    border: 1px solid black;
}

.filters__sector-options::-webkit-scrollbar {
    width: 2px;
}

.filters__sector-options::-webkit-scrollbar-track {
    background-color: #a9a9a9;
}

.filters__sector-options::-webkit-scrollbar-thumb {
    width: 2px;
    border: 1px solid black;
}

.filters__must-be-hidden {
    overflow: hidden;
    padding: 14px 0 0 0;
    max-height: 290px;
    transition: all 0.2s;
}

.filters__must-be-hidden_hidden {
    max-height: 0;
    padding: 0;
}

.filter__arrow_turned {
    transform: rotateZ(180deg);
}

.filters__checkbox-div input {
    margin: 0 5px 0 0;
    width: 14px;
    height: 14px;
    border-radius: 0;
    z-index: -1;
    position: absolute;
    opacity: 0;
    display: none;

}

.filters__checkbox-div:not(:last-child) {
    display: flex;
    align-items: center;
    margin-bottom: 9px;
}
.filters__checkbox-div label, .state__options label {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.filters__sector-options {
    overflow-x: hidden;
}

.filters__checkbox-div label::before, .state__options label::before{
    display: block;
    min-width: 14px;
    min-height: 14px;
    border: 1px solid black;
    margin-right: 5px;
    content: "";
    align-self: center;
    background-size: 90% 90%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.filters__checkbox-div input[type=radio]:checked + label::before, .state__options input[type=radio]:checked + label::before {
    background-image: url('../assets/check.svg');
}

.safari-sucks {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
}
aside.sort-by {
    display: none;
}

@media (max-width: 1200px) {
    .filters__layout {
        position: absolute;
        z-index: 7;
        width: 100%;
        left: -15px;
        top: 230px;
        display: none;
        height: 200vh;
    }
    aside.filters{
        width: 46%;
        float: right;
        background-color: white;
        border: 1px solid black;
        padding-left: 17px;
        display: none;
        position: absolute;
        right: 0;
    }

    aside.sort-by {
        width: 46%;
        display: none;
        flex-direction: column;
        position: absolute;
        border: 1px solid black;
        background-color: white;
        left: 30px;
        margin: 0;
        padding: 17px;
    }
    .filters-sort-buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-family: Montserrat, Helvetica, Arial, sans-serif;
        font-size: 14px;
        margin: 15px 0;
    }

    .filters-sort-buttons div {
        cursor: pointer;
        display: flex;
        align-items: center;

    }

    .filters-sort-buttons img {
        transition: transform 0.2s ease;
        width: 10px;
        height: 5px;
        margin: 0 11px;
    }
    main > .sort-by {
        display: none;
    }
    .m_active {
        display: flex!important;
    }
    .filters__sector_size_l {
        max-width: unset;
    }
}