@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&display=swap');

.photos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 50px;
}

.photos__male, .photos__female, .photos__buttons {
    width: 550px;
    height: 531px;
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.photos__male img, .photos__female img {
    object-fit: cover;
    display: block;
    width: 650px;
    position: absolute;
    z-index: 1;
}

.photos__male img {
    top: -15px;
    left: -60px;
}

.photos__female img {
    top: -5px;
    width: 590px;
    left: 0;
}

.photos__male span, .photos__female span {
    z-index: 2;
    color: white;
    font-size: 36px;
    text-shadow: 1px 1px 2px gray;
    position: relative;
}

.photos__buttons {
    height: 422px;
    width: 100%;
    margin-top: 10px;
    align-items: start;
    align-content: start;
    background-image: url(../assets/buttons-bg.jpg);
    background-size: 115%;
    background-position: -70px -100px;
    flex-wrap: wrap;
}

.photos__buttons h1 {
    color: white;
    font-size: 48px;
    font-family: Alegreya, "Times New Roman", Times, serif;
    text-align: center;
    height: 130px;
    width: 100%;
    margin: 62px 0 67px 0;
    text-shadow: 1px 1px 2px gray;
}

.photos-buttons__button{
    color: white;
    border: 1px solid white;
    font-size: 24px;
    height: 48px;
    width: 286px;
    bottom: 115px;
}

.photos-buttons__button_seller {
    margin-right: 30px;
}

.show-all {
    justify-content: space-between;
    align-items: center;
}

.show-all__header {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.show-all__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 165px;
}

.show-all__text {
    font-size: 18px;
    color: #747474;
}

.show-all__arrow {
    width: 25px;
}

.new-ads {
    margin: 35px 0 50px 0;
}

.part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.part__arrow {
    width: 36px;
    height: 36px;
    background-color: #E7E7E7;
    border-radius: 18px;
    cursor: pointer;
    padding: 11px 14.5px;
    margin-top: 120px;
    user-select: none;
}

.part__arrow img{
    height: 14px;
    width: 7px;
}

.part__border {
    margin: 0 23px;
    overflow: hidden;
}

.part__ads {
    display: flex;
    transition: transform 0.3s ease;
}


.part__ads .ad:not(:last-child){
    margin-right: 30px
}

.most-viewed {
    margin: 35px 0 50px 0;
}

.ad__author {
    display: flex;
    width: 255px;
    height: 54px;
    justify-content: start;
    align-items: center;
    margin-bottom: 22px;
}

a .photos__female img {
    left: 0;
}

.ad__author-photo {
    width: 54px;
    height: 54px;
    border-radius: 27px;
    overflow: hidden;
    border: 1px solid gray;
    margin-right: 11px;
}

.ad__author-photo img {
    display: block;
    width: 54px;
    height: 54px;
}
.ad__author-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.ad__author-name {
    font-size: 18px;
    font-weight: bold;
}

.ad__author-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95px;
    margin-top: 13px;
}

.ad__author-rating img {
    width: 15px;
    height: 15px;
}

.popular-today {
    margin: 44px 0 0 0;
}

.part__arrow_popular-today {
    margin-top: 196px;
}

.news {
    flex-direction: column;
    height: 390px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 150px;
}

.news__banner {
    position: relative;
}

.news__img-link {
    display: block;
    background-color: black;
}

.news__banner:not(:first-child) > .news__img-link {
    width: 445px;
    height: 179px;
}

.news__banner:first-child > .news__img-link {
    width: 635px;
    height: 390px;
}

.news__image {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    object-fit: cover;
}

.news__title {
    position: absolute;
    font-size: 18px;
    left: 14px;
    bottom: 36px;
    margin: 0;
}

.news__date {
    font-size: 12px;
    position: absolute;
    left: 14px;
    bottom: 12px;
}

.show-all_news {
    margin: 50px auto 40px;
}

@media (max-width: 1200px) {

    .show-all__text {
        white-space: nowrap;
        margin-right: 5px;
    }

    .show-all__button {
        width: unset;
    }
    .ad__author {
        width: 100%;
        font-size: 14px;
    }

    .ad__author-rating {
        width: 50%;
        margin-top: 3px;
    }

    .ad__author-photo {
        display: none;
    }
    .photos__buttons h1 {
        font-size: 36px;
    }
    .photos__male, .photos__female {
        width: calc(50% - 5px);
        padding-top: 46%;
        height: unset;
    }

    .photos__male span, .photos__female span {
        font-size: 20px;
        text-align: center;
    }

    .photos__male img, .photos__female img {
        top: 0;
        left: 0;
        width: 100%;
    }

    .photos a {
        height: fit-content;
        display: flex;
        justify-content: center;
    }

    .photos__male span, .photos__female span {
        position: absolute;
        bottom: 45%;
        align-items: center;
        justify-content: center;
    }
    .part__arrow {
        display: none;
    }
    .part__border {
        margin: 0;
    }

    .ad:nth-child(2) ~ .ad  {
        display: none;
    }

    .show-all__header {
        font-size: 24px;
    }

    .show-all__text {
        font-size: 14px;
    }

    .photos__buttons {
        background-size: 200%;
        background-repeat: no-repeat;
        background-position: -35px -50px;
        align-content: flex-start;
        height: unset;
    }

    .photos__buttons .photos-buttons__button {
        margin: 0;
        width: 80%;
        font-size: 14px;
        height: 30px;
    }

    .photos__buttons .photos-buttons__button{
        margin-bottom: 15px;
    }

    .photos__buttons h1 {
        margin: 15px 0 5px;
        font-size: 24px;
    }

    .news {
        margin-bottom: 0;
        height: unset;
    }

    .news__banner:first-child {
        width: 100%;
        height: 250px;
    }

    .news__banner:not(:first-child) {
        display: none;
    }

    .news__banner:first-child > .news__img-link {
        width: 100%;
        height: 100%;
    }

    .photos {
        margin-bottom: 0;
    }

    .part:not(.doesntexist) {
        margin-top: 0;
        margin-bottom: 0;
    }

    .show-all {
        margin: 40px auto 25px;
    }

    .show-all_news {
        margin-top: 30px;
    }
}

