.news {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.news__item {
    width: 255px;
    height: 551px;
    margin-bottom: 30px;
}

.news__photo {
    width: 100%;
    height: 291px;
    display: block;
    object-fit: cover;
}
.news__title {
    font-weight: bold;
    font-size: 21px;
    margin: 21px 0 30px;
}

.news__text, .news__date {
    font-size: 13px;
    color: #656565;
}

.news__date {
    margin-top: 30px;
}