.news {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.news__item {
    width: 22.3%;
    height: 551px;
    margin-bottom: 30px;
}

.news__photo {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    object-fit: cover;
    object-position: center;
}
.news__title {
    font-weight: bold;
    font-size: 21px;
    margin: 21px 0 30px;
}

.news__text, .news__date {
    font-size: 13px;
    color: #656565;
}

.news__date {
    margin-top: 30px;
}

.news__item > a {
    height: fit-content;
}

.news__img-link {
    display: block;
    width: 100%;
    padding-top: 114%;
    position: relative;
}

.show-all {
    justify-content: space-between;
    align-items: center;
}

.show-all__header {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.show-all__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 165px;
}

.show-all__text {
    font-size: 18px;
    color: #747474;
}

.show-all__arrow {
    width: 25px;
}

@media (max-width: 800px) {
    .news__item {
        width: 47%;
    }

    .news__item:nth-child(6) ~ .news__item {
        display: none;
    }

    .show-all__text {
        white-space: nowrap;
        margin-right: 5px;
        font-size: 14px;
    }

    .show-all__button {
        width: unset;
    }

    .show-all__header {
        font-size: 24px;
    }
}