.rescue {
    flex-direction: column;
}
.rescue__div {
    display: flex;
    align-items: flex-start;
    font-size: 16px;
}

.rescue__header {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0 16px;
}

.rescue__div {
    margin-bottom: 30px;
}

.rescue__div > label {
    margin-top: 12px;
    width: 160px;
    display: block;
}

#email, #issue {
    width: 380px;
    resize: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid black;
}

#email {
    height: 45px;
    font-size: 16px;
}

#issue {
    height: 204px;
}

.rescue__button {
    height: 41px;
    width: 190px;
    color: white;
    background-color: black;
    margin:0 0 186px 350px;
}

@media (max-width: 1200px) {
    .rescue__div {
        flex-direction: column;
    }

    .rescue__header {
        font-size: 30px;
        margin: 30px 0 20px;
    }

    .rescue__div > label {
        margin: 0 0 30px 0;
    }

    #email {
        width: 100%;
        margin-bottom: 40px;
    }
    #issue {
        width: 100%;
        height: 204px;
        margin-bottom: 25px;
    }

    .rescue__button {
        width: 255px;
        margin: 0 0 216px calc(100% - 255px);
    }
}