{% extends "admin/main" %}
{% block page_content %}
    <h2 class="admin__header">Управление пользователями</h2>
    <div class="admin__users users admin__table">

        <div class="users__item user">
            <div class="user__info">
                <a href="" class="user__img"><img src="../../static/assets/female.jpg" alt=""></a>
                <a href="" class="user__name">Женщина</a>
            </div>
            <form class="user__button-form_ban user__button-form">
                <input type="submit" value="Сломать колени" class="button user__button user__button_ban">
            </form>
        </div>

        <div class="users__item user">
            <div class="user__info">
                <a href="" class="user__img"><img src="../../static/assets/female.jpg" alt=""></a>
                <a href="" class="user__name">Женщина</a>
            </div>
            <form class="user__button-form_deban user__button-form">
                <input type="submit" value="Дать леща" class="button user__button user__button_deban">
            </form>
        </div>

        <div class="users__item user">
            <div class="user__info">
                <a href="" class="user__img"><img src="../../static/assets/female.jpg" alt=""></a>
                <a href="" class="user__name">Женщина</a>
            </div>
            <form class="user__button-form_ban user__button-form">
                <input type="submit" value="Сломать колени" class="button user__button user__button_ban">
            </form>
        </div>

        <div class="users__item user">
            <div class="user__info">
                <a href="" class="user__img"><img src="../../static/assets/female.jpg" alt=""></a>
                <a href="" class="user__name">Женщина</a>
            </div>
            <form class="user__button-form_deban user__button-form">
                <input type="submit" value="Дать леща" class="button user__button user__button_deban">
            </form>
        </div>

        <div class="users__item user">
            <div class="user__info">
                <a href="" class="user__img"><img src="../../static/assets/female.jpg" alt=""></a>
                <a href="" class="user__name">Женщина</a>
            </div>
            <form class="user__button-form_ban user__button-form">
                <input type="submit" value="Сломать колени" class="button user__button user__button_ban">
            </form>
        </div>

        <div class="users__item user">
            <div class="user__info">
                <a href="" class="user__img"><img src="../../static/assets/female.jpg" alt=""></a>
                <a href="" class="user__name">Женщина</a>
            </div>
            <form class="user__button-form_deban user__button-form">
                <input type="submit" value="Дать леща" class="button user__button user__button_deban">
            </form>
        </div>

        <div class="users__item user">
            <div class="user__info">
                <a href="" class="user__img"><img src="../../static/assets/female.jpg" alt=""></a>
                <a href="" class="user__name">Женщина</a>
            </div>
            <form class="user__button-form_ban user__button-form">
                <input type="submit" value="Сломать колени" class="button user__button user__button_ban">
            </form>
        </div>

        <div class="users__item user">
            <div class="user__info">
                <a href="" class="user__img"><img src="../../static/assets/female.jpg" alt=""></a>
                <a href="" class="user__name">Женщина</a>
            </div>
            <form class="user__button-form_deban user__button-form">
                <input type="submit" value="Дать леща" class="button user__button user__button_deban">
            </form>
        </div>

        <div class="users__item user">
            <div class="user__info">
                <a href="" class="user__img"><img src="../../static/assets/female.jpg" alt=""></a>
                <a href="" class="user__name">Женщина</a>
            </div>
            <form class="user__button-form_ban user__button-form">
                <input type="submit" value="Сломать колени" class="button user__button user__button_ban">
            </form>
        </div>

        <div class="users__item user">
            <div class="user__info">
                <a href="" class="user__img"><img src="../../static/assets/female.jpg" alt=""></a>
                <a href="" class="user__name">Женщина</a>
            </div>
            <form class="user__button-form_deban user__button-form">
                <input type="submit" value="Дать леща" class="button user__button user__button_deban">
            </form>
        </div>

        <div class="users__item user">
            <div class="user__info">
                <a href="" class="user__img"><img src="../../static/assets/female.jpg" alt=""></a>
                <a href="" class="user__name">Женщина</a>
            </div>
            <form class="user__button-form_ban user__button-form">
                <input type="submit" value="Сломать колени" class="button user__button user__button_ban">
            </form>
        </div>

        <div class="users__item user">
            <div class="user__info">
                <a href="" class="user__img"><img src="../../static/assets/female.jpg" alt=""></a>
                <a href="" class="user__name">Женщина</a>
            </div>
            <form class="user__button-form_deban user__button-form">
                <input type="submit" value="Дать леща" class="button user__button user__button_deban">
            </form>
        </div>

        <div class="users__item user">
            <div class="user__info">
                <a href="" class="user__img"><img src="../../static/assets/female.jpg" alt=""></a>
                <a href="" class="user__name">Женщина</a>
            </div>
            <form class="user__button-form_ban user__button-form">
                <input type="submit" value="Сломать колени" class="button user__button user__button_ban">
            </form>
        </div>

        <div class="users__item user">
            <div class="user__info">
                <a href="" class="user__img"><img src="../../static/assets/female.jpg" alt=""></a>
                <a href="" class="user__name">Женщина</a>
            </div>
            <form class="user__button-form_deban user__button-form">
                <input type="submit" value="Дать леща" class="button user__button user__button_deban">
            </form>
        </div>

        <div class="users__item user">
            <div class="user__info">
                <a href="" class="user__img"><img src="../../static/assets/female.jpg" alt=""></a>
                <a href="" class="user__name">Женщина</a>
            </div>
            <form class="user__button-form_ban user__button-form">
                <input type="submit" value="Сломать колени" class="button user__button user__button_ban">
            </form>
        </div>

        <div class="users__item user">
            <div class="user__info">
                <a href="" class="user__img"><img src="../../static/assets/female.jpg" alt=""></a>
                <a href="" class="user__name">Женщина</a>
            </div>
            <form class="user__button-form_deban user__button-form">
                <input type="submit" value="Дать леща" class="button user__button user__button_deban">
            </form>
        </div>

        <div class="users__item user">
            <div class="user__info">
                <a href="" class="user__img"><img src="../../static/assets/female.jpg" alt=""></a>
                <a href="" class="user__name">Женщина</a>
            </div>
            <form class="user__button-form_ban user__button-form">
                <input type="submit" value="Сломать колени" class="button user__button user__button_ban">
            </form>
        </div>

        <div class="users__item user">
            <div class="user__info">
                <a href="" class="user__img"><img src="../../static/assets/female.jpg" alt=""></a>
                <a href="" class="user__name">Женщина</a>
            </div>
            <form class="user__button-form_deban user__button-form">
                <input type="submit" value="Дать леща" class="button user__button user__button_deban">
            </form>
        </div>
    </div>
    <div class="admin__page-links">
    <a href="">
        <img src="../../static/assets/arrow-left.svg" alt="">
        <img src="../../static/assets/arrow-left.svg" alt="">
    </a>
    <a href="">1</a>
    <a href="">2</a>
    <a href="">3</a>
    <a href="">4</a>
    <a href="">5</a>
    <a href="">6</a>
    <a href="">7</a>
    <a href="">8</a>
    <a href="">9</a>
    <a href="">...</a>
    <a href="">
        <img src="../../static/assets/arrow-right.svg" alt="">
        <img src="../../static/assets/arrow-right.svg" alt="">
    </a>
</div>
{% endblock page_content %}