{% macro instance(product, seller) %}
  {% if seller != false %}
        <p>seller.username</p>
    {% endif %}
    <p>title - {{ product.title }}</p>
    <p>price - {{ product.price }}</p>
    {% for url in product.pictures %}
        <img src="/{{ url }}">
    {% endfor %}
{% endmacro instance %}