{% extends "main" %}
{% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/common.css">
    <title></title>
{% endblock head %}
{% block main %}  
    {{ article.title }}
{% endblock main %}
{% block scripts %}
{% endblock scripts %}