{% extends "main" %}
{% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/common.css">
    <title></title>
{% endblock head %}
{% block main %}  
    {% for product in products %}
     {{ product.title }}
     {{ product.descr }}
     <a href="/product/{{ product.id }}"> btn </a>
     <img src="/{{ product.pictures[0] }}">

    {% endfor %}
{% endblock main %}
{% block scripts %}
{% endblock scripts %}