<!DOCTYPE html>
<html lang="en">
<html>
    <head>
            <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-QX8GMSLEER"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-QX8GMSLEER');
        </script>
        {% block head %}
        {% endblock head %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/static/assets/safety.svg" type="image/svg+xml">
    </head>
    <body>
        {% include "header" %}
            {% block main %}
            {% endblock main %}
        {% include "footer" %}
        {% block scripts %}
        {% endblock scripts %}
        <script src="/static/js/auth.js"></script>
        <script src="/static/js/favourite.js"></script>
        <script src="/static/js/dropdown.js"></script>
    </body>
</html>