<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        {% include "header" %}
            {% block main %}
            {% endblock main %}
        {% include "footer" %}
        {% block scripts %}
        {% endblock scripts %}
        <script src="static/js/auth.js"></script>
    </body>
</html>