{% extends "main" %}
{% block head %}
    <meta charset="UTF-8">
    <title>Фильтры</title>
    <link rel="stylesheet" href="/static/css/common.css">
{% endblock head %}
{% block main %}
    <form action="/rescue/create"  method="POST">
        <input type="text" name="address">
        <input type="text" name="issue">   
        <button type="submit">Отправить</button>
    </form>
{% endblock main %}
{% block scripts %}
{% endblock scripts %}