{% extends "main" %}
{% block body %}
<ul>
{% for person in people_list %}
<li style="{% if not person.is_read %}
        font-color: red;
    {% endif %}"> <a href="/chat/{{ person.product_id }}/{{ person.id }}">{{ person.username }} </a> </li>
{% endfor %}
</ul>
{% block chat_block %}
NONE
{% endblock chat_block %}
{% endblock body %}